In [25]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("priyamchoksi/100000-diabetes-clinical-dataset")

print("Path to dataset files:", path)

In [26]:
import os
os.listdir(path)

In [27]:
import pandas as pd
import fairtl as fl
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [29]:
df = pd.read_csv(f'{path}/diabetes_dataset.csv')
df.head()

In [30]:
df.shape

(100000, 16)

In [31]:
df.drop('location', axis=1, inplace=True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   year                  100000 non-null  int64
 1   gender                100000 non-null  object
 2   age                   100000 non-null  float64
 3   race:AfricanAmerican  100000 non-null  int64
 4   race:Asian            100000 non-null  int64
 5   race:Caucasian        100000 non-null  int64
 6   race:Hispanic         100000 non-null  int64
 7   race:Other            100000 non-null  int64
 8   hypertension          100000 non-null  int64
 9   heart_disease         100000 non-null  int64
 10  smoking_history       100000 non-null  object
 11  bmi                   100000 non-null  float64
 12  hbA1c_level           100000 non-null  float64
 13  blood_glucose_level   100000 non-null  int64
 14  diabetes              100000 non-null  int64
dtypes: float64(3), int64(10), object(2)
memory usage: 11.4+ MB

In [33]:
df.head()

,year,gender,age,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,smoking_history,bmi,hbA1c_level,blood_glucose_level,diabetes
0,2020,Female,32.0,0,0,0,0,1,0,0,never,27.32,5.0,100,0
1,2015,Female,29.0,0,1,0,0,0,0,0,never,19.95,5.0,90,0
2,2015,Male,18.0,0,0,0,0,1,0,0,never,23.76,4.8,160,0
3,2015,Male,41.0,0,0,1,0,0,0,0,never,27.32,4.0,159,0
4,2016,Female,52.0,1,0,0,0,0,0,0,never,23.75,6.5,90,0

In [34]:
df['gender'].unique()

array(['Female', 'Male', 'Other'], dtype=object)

In [35]:
df['gender'].value_counts()

gender
Female    58552
Male      41430
Other        18
Name: count, dtype: int64

In [36]:
df = df[df['gender'] != 'Other']
df.head()

,year,gender,age,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,smoking_history,bmi,hbA1c_level,blood_glucose_level,diabetes
0,2020,Female,32.0,0,0,0,0,1,0,0,never,27.32,5.0,100,0
1,2015,Female,29.0,0,1,0,0,0,0,0,never,19.95,5.0,90,0
2,2015,Male,18.0,0,0,0,0,1,0,0,never,23.76,4.8,160,0
3,2015,Male,41.0,0,0,1,0,0,0,0,never,27.32,4.0,159,0
4,2016,Female,52.0,1,0,0,0,0,0,0,never,23.75,6.5,90,0

In [37]:
df['gender'] = df['gender'].map({'Female': 0, 'Male': 1})

In [38]:
df['smoking_history'] = df['smoking_history'].map({'No Info': 0, 'never': 1, 'not current': 2, 'ever': 3, 'former': 4, 'current': 5})

In [39]:
df['smoking_history'].unique()

array([1, 2, 5, 0, 3, 4])

In [40]:
y = df['diabetes'].values
X = df.drop('diabetes', axis=1)

In [41]:
print(X.shape)
selector = VarianceThreshold(threshold=0.1)
X = selector.fit_transform(X)
print(X.shape)

(99982, 14)
(99982, 12)

In [42]:
# build mask
gender_0_mask = df['gender'] == 0
gender_1_mask = df['gender'] == 1

count_gender_0 = gender_0_mask.sum()
count_gender_1 = gender_1_mask.sum()

print("Female: ", count_gender_0)
print("Male: ", count_gender_1)

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_scaled_Gender_0 = X_scaled[gender_0_mask]
X_scaled_Gender_1 = X_scaled[gender_1_mask]
y_Gender_0 = y[gender_0_mask]
y_Gender_1 = y[gender_1_mask]

Female:  58552
Male:  41430

In [43]:
seed = 42
models = fl.build_models(seed)

results_list = []

kf = KFold(n_splits=20, shuffle=True, random_state=seed)

In [44]:
print("Starting experiments for Female(0)")
fl.run_experiment(kf, models, X_scaled_Gender_0, y_Gender_0, 'Female', results_list)

print("Starting experiments for Male(1)")
fl.run_experiment(kf, models, X_scaled_Gender_1, y_Gender_1, 'Male', results_list)

final_results_df = pd.concat(results_list, ignore_index=True)
print(final_results_df)

Starting experiments for Female(0)
Processing fold 1 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 2 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 3 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 4 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 5 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 6 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 7 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 8 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 9 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 10 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 11 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 12 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 13 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 14 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 15 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 16 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 17 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 18 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 19 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 20 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Starting experiments for Male(1)
Processing fold 1 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 2 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 3 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 4 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 5 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 6 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 7 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 8 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 9 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 10 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 11 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 12 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 13 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 14 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 15 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 16 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 17 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 18 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 19 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 20 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
    Fold   Group   SVM_TPR   SVM_TNR   SVM_FPR   SVM_FNR  SVM_TP  SVM_TN  \
0      1  Female  0.558442  0.999629  0.000371  0.441558     129    2696
1      2  Female  0.530233  0.999631  0.000369  0.469767     114    2712
2      3  Female  0.634855  1.000000  0.000000  0.365145     153    2687
3      4  Female  0.608333  1.000000  0.000000  0.391667     146    2688
4      5  Female  0.512563  1.000000  0.000000  0.487437     102    2729
5      6  Female  0.554054  1.000000  0.000000  0.445946     123    2706
6      7  Female  0.548544  0.999633  0.000367  0.451456     113    2721
7      8  Female  0.607438  1.000000  0.000000  0.392562     147    2686
8      9  Female  0.568889  1.000000  0.000000  0.431111     128    2703
9     10  Female  0.567442  1.000000  0.000000  0.432558     122    2713
10    11  Female  0.493671  1.000000  0.000000  0.506329     117    2691
11    12  Female  0.523810  0.999264  0.000736  0.476190     110    2716
12    13  Female  0.564854  0.998884  0.001116  0.435146     135    2685
13    14  Female  0.623810  0.999632  0.000368  0.376190     131    2716
14    15  Female  0.562212  0.999631  0.000369  0.437788     122    2709
15    16  Female  0.556150  0.999635  0.000365  0.443850     104    2739
16    17  Female  0.534884  1.000000  0.000000  0.465116     115    2712
17    18  Female  0.568889  1.000000  0.000000  0.431111     128    2702
18    19  Female  0.560000  0.999260  0.000740  0.440000     126    2700
19    20  Female  0.557692  0.999250  0.000750  0.442308     145    2665
20     1    Male  0.545024  0.999463  0.000537  0.454976     115    1860
21     2    Male  0.512690  0.998400  0.001600  0.487310     101    1872
22     3    Male  0.587379  0.998928  0.001072  0.412621     121    1864
23     4    Male  0.581152  0.998937  0.001063  0.418848     111    1879
24     5    Male  0.600985  0.998395  0.001605  0.399015     122    1866
25     6    Male  0.575610  1.000000  0.000000  0.424390     118    1867
26     7    Male  0.573394  0.998921  0.001079  0.426606     125    1852
27     8    Male  0.549784  0.999457  0.000543  0.450216     127    1840
28     9    Male  0.589744  0.997869  0.002131  0.410256     115    1873
29    10    Male  0.551351  0.999470  0.000530  0.448649     102    1886
30    11    Male  0.566502  0.999465  0.000535  0.433498     115    1867
31    12    Male  0.492462  0.998932  0.001068  0.507538      98    1870
32    13    Male  0.607735  1.000000  0.000000  0.392265     110    1890
33    14    Male  0.583756  0.998933  0.001067  0.416244     115    1872
34    15    Male  0.593909  0.998399  0.001601  0.406091     117    1871
35    16    Male  0.604878  0.998928  0.001072  0.395122     124    1864
36    17    Male  0.549738  0.997872  0.002128  0.450262     105    1876
37    18    Male  0.557078  1.000000  0.000000  0.442922     122    1852
38    19    Male  0.521951  0.998392  0.001608  0.478049     107    1863
39    20    Male  0.600000  0.998397  0.001603  0.400000     120    1868

    SVM_FP  SVM_FN  ...  ANN_FP  ANN_FN    NB_TPR    NB_TNR    NB_FPR  \
0        1     102  ...       6      71  0.593074  0.985169  0.014831
1        1     101  ...       6      78  0.581395  0.990417  0.009583
2        0      88  ...       2      61  0.676349  0.990696  0.009304
3        0      94  ...       2      63  0.616667  0.988095  0.011905
4        0      97  ...       1      70  0.557789  0.993038  0.006962
5        0      99  ...       2      76  0.599099  0.988914  0.011086
6        1      93  ...       2      69  0.563107  0.988244  0.011756
7        0      95  ...       1      73  0.595041  0.991809  0.008191
8        0      97  ...       4      68  0.586667  0.988901  0.011099
9        0      93  ...       0      70  0.609302  0.992628  0.007372
10       0     120  ...       0      87  0.544304  0.992568  0.007432
11       2     100  ...       2      80  0.538095  0.991170  0.008830
12       3     104  ...       2      75  0.589958  0.989583  0.010417
13       1      79  ...       5      50  0.642857  0.988590  0.011410
14       1      95  ...       2      76  0.599078  0.992251  0.007749
15       1      83  ...       2      61  0.604278  0.988321  0.011679
16       0     100  ...       4      69  0.586047  0.987832  0.012168
17       0      97  ...       0      68  0.591111  0.989267  0.010733
18       2      99  ...       3      64  0.582222  0.991488  0.008512
19       2     115  ...       6      85  0.615385  0.991376  0.008624
20       1      96  ...       6      74  0.611374  0.985492  0.014508
21       3      96  ...       3      65  0.593909  0.987200  0.012800
22       2      85  ...       4      64  0.621359  0.980707  0.019293
23       2      80  ...       1      59  0.591623  0.991494  0.008506
24       3      81  ...       7      68  0.625616  0.986089  0.013911
25       0      87  ...       5      64  0.604878  0.980718  0.019282
26       2      93  ...       3      69  0.619266  0.985437  0.014563
27       1     104  ...       5      78  0.601732  0.988593  0.011407
28       4      80  ...       6      61  0.651282  0.984550  0.015450
29       1      83  ...      10      56  0.621622  0.987281  0.012719
30       1      88  ...       7      74  0.596059  0.988223  0.011777
31       2     101  ...       2      73  0.542714  0.987714  0.012286
32       0      71  ...       1      61  0.607735  0.987302  0.012698
33       2      82  ...       1      60  0.604061  0.986660  0.013340
34       3      80  ...       1      56  0.695431  0.985592  0.014408
35       2      81  ...       4      57  0.619512  0.989818  0.010182
36       4      86  ...       2      61  0.602094  0.985106  0.014894
37       0      97  ...       3      70  0.607306  0.991361  0.008639
38       3      98  ...       5      64  0.604878  0.989282  0.010718
39       3      80  ...       4      63  0.655000  0.983966  0.016034

      NB_FNR  NB_TP  NB_TN  NB_FP  NB_FN
0   0.406926    137   2657     40     94
1   0.418605    125   2687     26     90
2   0.323651    163   2662     25     78
3   0.383333    148   2656     32     92
4   0.442211    111   2710     19     88
5   0.400901    133   2676     30     89
6   0.436893    116   2690     32     90
7   0.404959    144   2664     22     98
8   0.413333    132   2673     30     93
9   0.390698    131   2693     20     84
10  0.455696    129   2671     20    108
11  0.461905    113   2694     24     97
12  0.410042    141   2660     28     98
13  0.357143    135   2686     31     75
14  0.400922    130   2689     21     87
15  0.395722    113   2708     32     74
16  0.413953    126   2679     33     89
17  0.408889    133   2673     29     92
18  0.417778    131   2679     23     94
19  0.384615    160   2644     23    100
20  0.388626    129   1834     27     82
21  0.406091    117   1851     24     80
22  0.378641    128   1830     36     78
23  0.408377    113   1865     16     78
24  0.374384    127   1843     26     76
25  0.395122    124   1831     36     81
26  0.380734    135   1827     27     83
27  0.398268    139   1820     21     92
28  0.348718    127   1848     29     68
29  0.378378    115   1863     24     70
30  0.403941    121   1846     22     82
31  0.457286    108   1849     23     91
32  0.392265    110   1866     24     71
33  0.395939    119   1849     25     78
34  0.304569    137   1847     27     60
35  0.380488    127   1847     19     78
36  0.397906    115   1852     28     76
37  0.392694    133   1836     16     86
38  0.395122    124   1846     20     81
39  0.345000    131   1841     30     69

[40 rows x 58 columns]

In [45]:
results_df = pd.concat(results_list, ignore_index=True)

In [46]:
result_path = './results/k14_result.xlsx'
results_df.to_excel(result_path, index=False)

In [47]:
df = pd.read_excel(result_path)
df.head()

,Fold,Group,SVM_TPR,SVM_TNR,SVM_FPR,SVM_FNR,SVM_TP,SVM_TN,SVM_FP,SVM_FN,...,ANN_FP,ANN_FN,NB_TPR,NB_TNR,NB_FPR,NB_FNR,NB_TP,NB_TN,NB_FP,NB_FN
0,1,Female,0.558442,0.999629,0.000371,0.441558,129,2696,1,102,...,6,71,0.593074,0.985169,0.014831,0.406926,137,2657,40,94
1,2,Female,0.530233,0.999631,0.000369,0.469767,114,2712,1,101,...,6,78,0.581395,0.990417,0.009583,0.418605,125,2687,26,90
2,3,Female,0.634855,1.000000,0.000000,0.365145,153,2687,0,88,...,2,61,0.676349,0.990696,0.009304,0.323651,163,2662,25,78
3,4,Female,0.608333,1.000000,0.000000,0.391667,146,2688,0,94,...,2,63,0.616667,0.988095,0.011905,0.383333,148,2656,32,92
4,5,Female,0.512563,1.000000,0.000000,0.487437,102,2729,0,97,...,1,70,0.557789,0.993038,0.006962,0.442211,111,2710,19,88

In [48]:
label = 'Female'

fl.perform_t_tests(df, 'SVM', label)
fl.perform_t_tests(df, 'DT', label)
fl.perform_t_tests(df, 'RF', label)
fl.perform_t_tests(df, 'LR', label)
fl.perform_t_tests(df, 'KNN', label)
fl.perform_t_tests(df, 'ANN', label)
fl.perform_t_tests(df, 'NB', label)

SVM -TPR: TtestResult(statistic=np.float64(-0.5055428502854329), pvalue=np.float64(0.6160975993845232), df=np.float64(38.0))
SVM - FPR: MannwhitneyuResult(statistic=np.float64(67.0), pvalue=np.float64(0.0002651965147012101))
SVM - FN/FP: MannwhitneyuResult(statistic=np.float64(327.0), pvalue=np.float64(0.0006176025824289028))
DT -TPR: TtestResult(statistic=np.float64(0.8338206072746462), pvalue=np.float64(0.40959302046795354), df=np.float64(38.0))
DT - FPR: TtestResult(statistic=np.float64(-4.355248649874621), pvalue=np.float64(9.71050587196425e-05), df=np.float64(38.0))
DT - FN/FP: TtestResult(statistic=np.float64(-2.286051754425564), pvalue=np.float64(0.027915971153941125), df=np.float64(38.0))
RF -TPR: TtestResult(statistic=np.float64(0.8428208350064238), pvalue=np.float64(0.40460252180452594), df=np.float64(38.0))
RF - FPR: TtestResult(statistic=np.float64(-2.5867638147759715), pvalue=np.float64(0.013641919385428419), df=np.float64(38.0))
RF - FN/FP: MannwhitneyuResult(statistic=np.float64(225.5), pvalue=np.float64(0.49882010259896004))
LR -TPR: TtestResult(statistic=np.float64(-1.7392923655376349), pvalue=np.float64(0.09007927854501852), df=np.float64(38.0))
LR - FPR: MannwhitneyuResult(statistic=np.float64(37.0), pvalue=np.float64(1.1044712116768222e-05))
LR - FN/FP: MannwhitneyuResult(statistic=np.float64(300.0), pvalue=np.float64(0.007113494035772574))
KNN -TPR: TtestResult(statistic=np.float64(-1.1311385206011646), pvalue=np.float64(0.265085216067561), df=np.float64(38.0))
KNN - FPR: TtestResult(statistic=np.float64(-4.870627417834525), pvalue=np.float64(1.9871805312256116e-05), df=np.float64(38.0))
KNN - FN/FP: TtestResult(statistic=np.float64(2.5006185915968024), pvalue=np.float64(0.016828320508670898), df=np.float64(38.0))
ANN -TPR: TtestResult(statistic=np.float64(0.3197010563606041), pvalue=np.float64(0.75094608364123), df=np.float64(38.0))
ANN - FPR: MannwhitneyuResult(statistic=np.float64(95.0), pvalue=np.float64(0.004688915783405048))
ANN - FN/FP: MannwhitneyuResult(statistic=np.float64(276.0), pvalue=np.float64(0.04106662414931734))
NB -TPR: MannwhitneyuResult(statistic=np.float64(100.0), pvalue=np.float64(0.007110802077889268))
NB - FPR: TtestResult(statistic=np.float64(-4.266493380506636), pvalue=np.float64(0.00012708383043987738), df=np.float64(38.0))
NB - FN/FP: TtestResult(statistic=np.float64(0.7545286834052969), pvalue=np.float64(0.45518265408655), df=np.float64(38.0))