In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("davidechicco/chronic-kidney-disease-ehrs-abu-dhabi")

print("Path to dataset files:", path)

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.5), please consider upgrading to the latest version (0.3.6).
Path to dataset files: /home/morning/.cache/kagglehub/datasets/davidechicco/chronic-kidney-disease-ehrs-abu-dhabi/versions/2

In [2]:
import os
os.listdir(path)

['ChronicKidneyDisease_EHRs_from_AbuDhabi.csv']

In [3]:
import pandas as pd
import fairtl_statisticaltest as fl
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [4]:
df = pd.read_csv(f'{path}/ChronicKidneyDisease_EHRs_from_AbuDhabi.csv')
df.head()

,Sex,AgeBaseline,HistoryDiabetes,HistoryCHD,HistoryVascular,HistorySmoking,HistoryHTN,HistoryDLD,HistoryObesity,DLDmeds,...,ACEIARB,CholesterolBaseline,CreatinineBaseline,eGFRBaseline,sBPBaseline,dBPBaseline,BMIBaseline,TimeToEventMonths,EventCKD35,TIME_YEAR
0,0,64,0,0,0,0,1,1,1,1,...,0,4.8,59.0,93.3,144,87,40,98,0,8
1,0,52,0,0,0,0,1,1,1,0,...,0,6.4,52.0,105.8,148,91,45,106,0,9
2,0,56,0,0,0,0,1,1,1,1,...,0,6.4,57.0,99.8,149,86,41,88,0,7
3,0,58,0,0,0,0,0,1,1,1,...,0,5.1,65.0,90.3,116,68,32,103,0,9
4,0,63,1,0,0,0,1,1,1,1,...,1,5.0,70.0,79.7,132,63,31,105,0,9

In [5]:
df['EventCKD35'].unique()

array([0, 1])

In [6]:
df['Sex'].unique()

array([0, 1])

In [7]:
df.shape

(491, 22)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491 entries, 0 to 490
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sex                  491 non-null    int64
 1   AgeBaseline          491 non-null    int64
 2   HistoryDiabetes      491 non-null    int64
 3   HistoryCHD           491 non-null    int64
 4   HistoryVascular      491 non-null    int64
 5   HistorySmoking       491 non-null    int64
 6   HistoryHTN           491 non-null    int64
 7   HistoryDLD           491 non-null    int64
 8   HistoryObesity       491 non-null    int64
 9   DLDmeds              491 non-null    int64
 10  DMmeds               491 non-null    int64
 11  HTNmeds              491 non-null    int64
 12  ACEIARB              491 non-null    int64
 13  CholesterolBaseline  491 non-null    float64
 14  CreatinineBaseline   491 non-null    float64
 15  eGFRBaseline         491 non-null    float64
 16  sBPBaseline          491 non-null    int64
 17  dBPBaseline          491 non-null    int64
 18  BMIBaseline          491 non-null    int64
 19  TimeToEventMonths    491 non-null    int64
 20  EventCKD35           491 non-null    int64
 21  TIME_YEAR            491 non-null    int64
dtypes: float64(3), int64(19)
memory usage: 84.5 KB

In [9]:
y = df['EventCKD35'].values
X = df.drop('EventCKD35', axis=1)

In [10]:
print(X.shape)
selector = VarianceThreshold(threshold=0.1)
X = selector.fit_transform(X)
print(X.shape)

(491, 21)
(491, 19)

In [11]:
# build mask
gender_0_mask = df['Sex'] == 0
gender_1_mask = df['Sex'] == 1

count_gender_0 = gender_0_mask.sum()
count_gender_1 = gender_1_mask.sum()

print("Female: ", count_gender_0)
print("Male: ", count_gender_1)

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_scaled_Gender_0 = X_scaled[gender_0_mask]
X_scaled_Gender_1 = X_scaled[gender_1_mask]
y_Gender_0 = y[gender_0_mask]
y_Gender_1 = y[gender_1_mask]

Female:  241
Male:  250

In [12]:
seed = 42
models = fl.build_models(seed)

results_list = []

kf = KFold(n_splits=5, shuffle=True, random_state=seed)

In [13]:
print("Starting experiments for Female(0)")
fl.run_experiment(kf, models, X_scaled_Gender_0, y_Gender_0, 'Female', results_list)

print("Starting experiments for Male(1)")
fl.run_experiment(kf, models, X_scaled_Gender_1, y_Gender_1, 'Male', results_list)

final_results_df = pd.concat(results_list, ignore_index=True)
print(final_results_df)

Starting experiments for Female(0)
Processing fold 1 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training and evaluating model: NB
Processing fold 2 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training and evaluating model: NB
Processing fold 3 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training and evaluating model: NB
Processing fold 4 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training and evaluating model: NB
Processing fold 5 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training and evaluating model: NB
Starting experiments for Male(1)
Processing fold 1 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training and evaluating model: NB
Processing fold 2 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training and evaluating model: NB
Processing fold 3 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training and evaluating model: NB
Processing fold 4 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training and evaluating model: NB
Processing fold 5 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
   Fold   Group   SVM_TPR   SVM_TNR   SVM_FPR   SVM_FNR  SVM_TP  SVM_TN  \
0     1  Female  0.250000  0.977778  0.022222  0.750000       1      44
1     2  Female  0.500000  0.977273  0.022727  0.500000       2      43
2     3  Female  0.000000  1.000000  0.000000  1.000000       0      46
3     4  Female  0.428571  1.000000  0.000000  0.571429       3      41
4     5  Female  0.000000  1.000000  0.000000  1.000000       0      45
5     1    Male  0.111111  0.975610  0.024390  0.888889       1      40
6     2    Male  0.666667  1.000000  0.000000  0.333333       4      44
7     3    Male  0.500000  1.000000  0.000000  0.500000       3      44
8     4    Male  0.300000  0.925000  0.075000  0.700000       3      37
9     5    Male  0.200000  0.955556  0.044444  0.800000       1      43

   SVM_FP  SVM_FN  ...  ANN_FP  ANN_FN    NB_TPR    NB_TNR    NB_FPR  \
0       1       3  ...       2       1  1.000000  0.688889  0.311111
1       1       2  ...       1       2  0.750000  0.909091  0.090909
2       0       2  ...       0       1  1.000000  0.565217  0.434783
3       0       4  ...       0       3  0.857143  0.414634  0.585366
4       0       3  ...       0       3  0.333333  0.666667  0.333333
5       1       8  ...       1       6  0.666667  0.853659  0.146341
6       0       2  ...       1       2  0.833333  0.909091  0.090909
7       0       3  ...       1       2  0.833333  0.818182  0.181818
8       3       7  ...       3       5  0.700000  0.825000  0.175000
9       2       4  ...       2       4  0.800000  0.888889  0.111111

     NB_FNR  NB_TP  NB_TN  NB_FP  NB_FN
0  0.000000      4     31     14      0
1  0.250000      3     40      4      1
2  0.000000      2     26     20      0
3  0.142857      6     17     24      1
4  0.666667      1     30     15      2
5  0.333333      6     35      6      3
6  0.166667      5     40      4      1
7  0.166667      5     36      8      1
8  0.300000      7     33      7      3
9  0.200000      4     40      5      1

[10 rows x 58 columns]

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [14]:
results_df = pd.concat(results_list, ignore_index=True)

In [15]:
result_path = './results/K26_result.xlsx'
results_df.to_excel(result_path, index=False)

In [16]:
df = pd.read_excel(result_path)
df.head()

,Fold,Group,SVM_TPR,SVM_TNR,SVM_FPR,SVM_FNR,SVM_TP,SVM_TN,SVM_FP,SVM_FN,...,ANN_FP,ANN_FN,NB_TPR,NB_TNR,NB_FPR,NB_FNR,NB_TP,NB_TN,NB_FP,NB_FN
0,1,Female,0.250000,0.977778,0.022222,0.750000,1,44,1,3,...,2,1,1.000000,0.688889,0.311111,0.000000,4,31,14,0
1,2,Female,0.500000,0.977273,0.022727,0.500000,2,43,1,2,...,1,2,0.750000,0.909091,0.090909,0.250000,3,40,4,1
2,3,Female,0.000000,1.000000,0.000000,1.000000,0,46,0,2,...,0,1,1.000000,0.565217,0.434783,0.000000,2,26,20,0
3,4,Female,0.428571,1.000000,0.000000,0.571429,3,41,0,4,...,0,3,0.857143,0.414634,0.585366,0.142857,6,17,24,1
4,5,Female,0.000000,1.000000,0.000000,1.000000,0,45,0,3,...,0,3,0.333333,0.666667,0.333333,0.666667,1,30,15,2

In [17]:
label = 'Female'

fl.perform_t_tests(df, 'SVM', label)
fl.perform_t_tests(df, 'DT', label)
fl.perform_t_tests(df, 'RF', label)
fl.perform_t_tests(df, 'LR', label)
fl.perform_t_tests(df, 'KNN', label)
fl.perform_t_tests(df, 'ANN', label)
fl.perform_t_tests(df, 'NB', label)

SVM -TPR: TtestResult(statistic=np.float64(-0.8239883703866057), pvalue=np.float64(0.4338228103640429), df=np.float64(8.0))
SVM - FPR: MannwhitneyuResult(statistic=np.float64(7.0), pvalue=np.float64(0.26520539259150755))
SVM - FN/FP: MannwhitneyuResult(statistic=np.float64(15.0), pvalue=np.float64(0.6742358755985722))
DT -TPR: TtestResult(statistic=np.float64(0.15151005324832714), pvalue=np.float64(0.8833243903339965), df=np.float64(8.0))
DT - FPR: TtestResult(statistic=np.float64(-2.195881062249031), pvalue=np.float64(0.05937403637776), df=np.float64(8.0))
DT - FN/FP: MannwhitneyuResult(statistic=np.float64(12.0), pvalue=np.float64(1.0))
RF -TPR: MannwhitneyuResult(statistic=np.float64(12.5), pvalue=np.float64(1.0))
RF - FPR: MannwhitneyuResult(statistic=np.float64(3.5), pvalue=np.float64(0.05648280375504712))
RF - FN/FP: MannwhitneyuResult(statistic=np.float64(16.5), pvalue=np.float64(0.4633438825652173))
LR -TPR: TtestResult(statistic=np.float64(-0.1751820784491844), pvalue=np.float64(0.8652892208935732), df=np.float64(8.0))
LR - FPR: TtestResult(statistic=np.float64(-0.0949741441086971), pvalue=np.float64(0.9266711804917492), df=np.float64(8.0))
LR - FN/FP: MannwhitneyuResult(statistic=np.float64(7.0), pvalue=np.float64(0.2903468336607644))
KNN -TPR: TtestResult(statistic=np.float64(-1.0160009882906798), pvalue=np.float64(0.3393678179580398), df=np.float64(8.0))
KNN - FPR: MannwhitneyuResult(statistic=np.float64(1.0), pvalue=np.float64(0.018490777408429176))
KNN - FN/FP: MannwhitneyuResult(statistic=np.float64(17.5), pvalue=np.float64(0.34426654809108104))
ANN -TPR: TtestResult(statistic=np.float64(-0.058341251644046195), pvalue=np.float64(0.9549077659736626), df=np.float64(8.0))
ANN - FPR: MannwhitneyuResult(statistic=np.float64(4.5), pvalue=np.float64(0.10712339925384028))
ANN - FN/FP: MannwhitneyuResult(statistic=np.float64(17.0), pvalue=np.float64(0.3961439091520741))
NB -TPR: TtestResult(statistic=np.float64(0.16751326586978607), pvalue=np.float64(0.8711232796290673), df=np.float64(8.0))
NB - FPR: TtestResult(statistic=np.float64(2.5311683091525934), pvalue=np.float64(0.03519135897872099), df=np.float64(8.0))
NB - FN/FP: TtestResult(statistic=np.float64(-2.5287145662555925), pvalue=np.float64(0.035326076532358454), df=np.float64(8.0))