In [2862]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("abhinaba1biswas/esophageal-cancer-dataset")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.5), please consider upgrading to the latest version (0.3.6).
Path to dataset files: /home/morning/.cache/kagglehub/datasets/abhinaba1biswas/esophageal-cancer-dataset/versions/1

In [2863]:
import os
os.listdir(path)

['Esophageal_Dataset.csv']

In [2864]:
import pandas as pd
import fairtl_statisticaltest as fl
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [2865]:
df = pd.read_csv(f'{path}/Esophageal_Dataset.csv')
df.head()

,Unnamed: 0,patient_barcode,tissue_source_site,patient_id,bcr_patient_uuid,informed_consent_verified,icd_o_3_site,icd_o_3_histology,icd_10,tissue_prospective_collection_indicator,...,primary_pathology_lymph_node_examined_count,primary_pathology_number_of_lymphnodes_positive_by_he,primary_pathology_number_of_lymphnodes_positive_by_ihc,primary_pathology_planned_surgery_status,primary_pathology_treatment_prior_to_surgery,primary_pathology_residual_tumor,primary_pathology_karnofsky_performance_score,primary_pathology_eastern_cancer_oncology_group,primary_pathology_radiation_therapy,primary_pathology_postoperative_rx_tx
0,0,TCGA-2H-A9GF,2H,A9GF,0500F1A6-A528-43F3-B035-12D3B7C99C0F,YES,C15.5,8140/3,C15.5,NO,...,8.0,7.0,0.0,NaN,NaN,R1,NaN,NaN,NO,NO
1,1,TCGA-2H-A9GG,2H,A9GG,70084008-697D-442D-8F74-C12F8F598570,YES,C15.5,8140/3,C15.5,NO,...,19.0,4.0,0.0,NaN,NaN,R1,NaN,NaN,NO,NO
2,2,TCGA-2H-A9GH,2H,A9GH,606DC5B8-7625-42A6-A936-504EF25623A4,YES,C15.5,8140/3,C15.5,NO,...,30.0,1.0,0.0,NaN,NaN,R0,NaN,NaN,NO,NO
3,3,TCGA-2H-A9GI,2H,A9GI,CEAF98F8-517E-457A-BF29-ACFE22893D49,YES,C15.5,8140/3,C15.5,NO,...,8.0,4.0,0.0,NaN,NaN,R0,NaN,NaN,NO,NO
4,4,TCGA-2H-A9GJ,2H,A9GJ,EE47CD59-C8D8-4B1E-96DB-91C679E4106F,YES,C15.5,8140/3,C15.5,NO,...,19.0,0.0,0.0,NaN,NaN,R0,NaN,NaN,NO,NO

In [2866]:
df.shape

(3985, 85)

In [2867]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3985 entries, 0 to 3984
Data columns (total 85 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Unnamed: 0                                                     3985 non-null   int64
 1   patient_barcode                                                3985 non-null   object
 2   tissue_source_site                                             3985 non-null   object
 3   patient_id                                                     3985 non-null   object
 4   bcr_patient_uuid                                               3985 non-null   object
 5   informed_consent_verified                                      3985 non-null   object
 6   icd_o_3_site                                                   3985 non-null   object
 7   icd_o_3_histology                                              3985 non-null   object
 8   icd_10                                                         3985 non-null   object
 9   tissue_prospective_collection_indicator                        3945 non-null   object
 10  tissue_retrospective_collection_indicator                      3945 non-null   object
 11  days_to_birth                                                  3985 non-null   int64
 12  country_of_birth                                               2058 non-null   object
 13  gender                                                         3985 non-null   object
 14  height                                                         3766 non-null   float64
 15  weight                                                         3945 non-null   float64
 16  country_of_procurement                                         3945 non-null   object
 17  state_province_of_procurement                                  2705 non-null   object
 18  city_of_procurement                                            3125 non-null   object
 19  race_list                                                      3566 non-null   object
 20  ethnicity                                                      1937 non-null   object
 21  other_dx                                                       3985 non-null   object
 22  history_of_neoadjuvant_treatment                               3985 non-null   object
 23  person_neoplasm_cancer_status                                  3650 non-null   object
 24  vital_status                                                   3985 non-null   object
 25  days_to_last_followup                                          2788 non-null   float64
 26  days_to_death                                                  1197 non-null   float64
 27  tobacco_smoking_history                                        3605 non-null   float64
 28  age_began_smoking_in_years                                     1732 non-null   float64
 29  stopped_smoking_year                                           1608 non-null   float64
 30  number_pack_years_smoked                                       2169 non-null   float64
 31  alcohol_history_documented                                     3925 non-null   object
 32  frequency_of_alcohol_consumption                               2469 non-null   float64
 33  amount_of_alcohol_consumption_per_day                          2108 non-null   float64
 34  reflux_history                                                 3308 non-null   object
 35  antireflux_treatment_types                                     997 non-null    object
 36  h_pylori_infection                                             1557 non-null   object
 37  initial_diagnosis_by                                           3247 non-null   object
 38  barretts_esophagus                                             3167 non-null   object
 39  goblet_cells_present                                           419 non-null    object
 40  history_of_esophageal_cancer                                   3148 non-null   object
 41  number_of_relatives_diagnosed                                  839 non-null    float64
 42  has_new_tumor_events_information                               3985 non-null   object
 43  day_of_form_completion                                         3985 non-null   int64
 44  month_of_form_completion                                       3985 non-null   int64
 45  year_of_form_completion                                        3985 non-null   int64
 46  has_follow_ups_information                                     3985 non-null   object
 47  has_drugs_information                                          3985 non-null   object
 48  has_radiations_information                                     3985 non-null   object
 49  project                                                        3985 non-null   object
 50  stage_event_system_version                                     3985 non-null   object
 51  stage_event_clinical_stage                                     1318 non-null   object
 52  stage_event_pathologic_stage                                   3487 non-null   object
 53  stage_event_tnm_categories                                     3985 non-null   object
 54  stage_event_psa                                                0 non-null      float64
 55  stage_event_gleason_grading                                    0 non-null      float64
 56  stage_event_ann_arbor                                          0 non-null      float64
 57  stage_event_serum_markers                                      0 non-null      float64
 58  stage_event_igcccg_stage                                       0 non-null      float64
 59  stage_event_masaoka_stage                                      0 non-null      float64
 60  primary_pathology_tumor_tissue_site                            3985 non-null   object
 61  primary_pathology_esophageal_tumor_cental_location             3965 non-null   object
 62  primary_pathology_esophageal_tumor_involvement_sites           3965 non-null   object
 63  primary_pathology_histological_type                            3985 non-null   object
 64  primary_pathology_columnar_metaplasia_present                  2390 non-null   object
 65  primary_pathology_columnar_mucosa_goblet_cell_present          1811 non-null   object
 66  primary_pathology_columnar_mucosa_dysplasia                    1750 non-null   object
 67  primary_pathology_neoplasm_histologic_grade                    3985 non-null   object
 68  primary_pathology_days_to_initial_pathologic_diagnosis         3985 non-null   int64
 69  primary_pathology_age_at_initial_pathologic_diagnosis          3985 non-null   int64
 70  primary_pathology_year_of_initial_pathologic_diagnosis         3845 non-null   float64
 71  primary_pathology_initial_pathologic_diagnosis_method          3885 non-null   object
 72  primary_pathology_init_pathology_dx_method_other               879 non-null    object
 73  primary_pathology_lymph_node_metastasis_radiographic_evidence  3148 non-null   object
 74  primary_pathology_primary_lymph_node_presentation_assessment   3665 non-null   object
 75  primary_pathology_lymph_node_examined_count                    2985 non-null   float64
 76  primary_pathology_number_of_lymphnodes_positive_by_he          2985 non-null   float64
 77  primary_pathology_number_of_lymphnodes_positive_by_ihc         1452 non-null   float64
 78  primary_pathology_planned_surgery_status                       1478 non-null   object
 79  primary_pathology_treatment_prior_to_surgery                   1138 non-null   object
 80  primary_pathology_residual_tumor                               3465 non-null   object
 81  primary_pathology_karnofsky_performance_score                  1360 non-null   float64
 82  primary_pathology_eastern_cancer_oncology_group                1357 non-null   float64
 83  primary_pathology_radiation_therapy                            3347 non-null   object
 84  primary_pathology_postoperative_rx_tx                          3327 non-null   object
dtypes: float64(23), int64(7), object(55)
memory usage: 2.6+ MB

In [2868]:
df['primary_pathology_postoperative_rx_tx'].isnull().sum()

np.int64(658)

In [2869]:

columns_before = df.columns

# 计算每列的缺失值数量并删除缺失值大于50的列
nan_counts = df.isnull().sum()
df = df.loc[:, nan_counts <= 300]

# 获取删除后的列名
columns_after = df.columns

# 找出被删除的列
deleted_columns = set(columns_before) - set(columns_after)

# 打印被删除的列
print("Deleted columns:", deleted_columns)

Deleted columns: {'days_to_death', 'stage_event_igcccg_stage', 'stage_event_pathologic_stage', 'primary_pathology_number_of_lymphnodes_positive_by_he', 'primary_pathology_karnofsky_performance_score', 'person_neoplasm_cancer_status', 'stage_event_gleason_grading', 'primary_pathology_eastern_cancer_oncology_group', 'stopped_smoking_year', 'primary_pathology_columnar_mucosa_goblet_cell_present', 'primary_pathology_treatment_prior_to_surgery', 'age_began_smoking_in_years', 'primary_pathology_number_of_lymphnodes_positive_by_ihc', 'reflux_history', 'primary_pathology_primary_lymph_node_presentation_assessment', 'race_list', 'goblet_cells_present', 'stage_event_masaoka_stage', 'primary_pathology_lymph_node_metastasis_radiographic_evidence', 'ethnicity', 'stage_event_psa', 'country_of_birth', 'stage_event_serum_markers', 'days_to_last_followup', 'state_province_of_procurement', 'amount_of_alcohol_consumption_per_day', 'primary_pathology_radiation_therapy', 'primary_pathology_lymph_node_examined_count', 'primary_pathology_columnar_mucosa_dysplasia', 'primary_pathology_residual_tumor', 'history_of_esophageal_cancer', 'frequency_of_alcohol_consumption', 'primary_pathology_columnar_metaplasia_present', 'barretts_esophagus', 'stage_event_clinical_stage', 'primary_pathology_planned_surgery_status', 'tobacco_smoking_history', 'number_of_relatives_diagnosed', 'number_pack_years_smoked', 'antireflux_treatment_types', 'city_of_procurement', 'initial_diagnosis_by', 'primary_pathology_init_pathology_dx_method_other', 'stage_event_ann_arbor', 'h_pylori_infection', 'primary_pathology_postoperative_rx_tx'}

In [2870]:
df.shape

(3985, 39)

In [2871]:
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)
df.shape

(3506, 39)

In [2872]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3506 entries, 0 to 3505
Data columns (total 39 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Unnamed: 0                                              3506 non-null   int64
 1   patient_barcode                                         3506 non-null   object
 2   tissue_source_site                                      3506 non-null   object
 3   patient_id                                              3506 non-null   object
 4   bcr_patient_uuid                                        3506 non-null   object
 5   informed_consent_verified                               3506 non-null   object
 6   icd_o_3_site                                            3506 non-null   object
 7   icd_o_3_histology                                       3506 non-null   object
 8   icd_10                                                  3506 non-null   object
 9   tissue_prospective_collection_indicator                 3506 non-null   object
 10  tissue_retrospective_collection_indicator               3506 non-null   object
 11  days_to_birth                                           3506 non-null   int64
 12  gender                                                  3506 non-null   object
 13  height                                                  3506 non-null   float64
 14  weight                                                  3506 non-null   float64
 15  country_of_procurement                                  3506 non-null   object
 16  other_dx                                                3506 non-null   object
 17  history_of_neoadjuvant_treatment                        3506 non-null   object
 18  vital_status                                            3506 non-null   object
 19  alcohol_history_documented                              3506 non-null   object
 20  has_new_tumor_events_information                        3506 non-null   object
 21  day_of_form_completion                                  3506 non-null   int64
 22  month_of_form_completion                                3506 non-null   int64
 23  year_of_form_completion                                 3506 non-null   int64
 24  has_follow_ups_information                              3506 non-null   object
 25  has_drugs_information                                   3506 non-null   object
 26  has_radiations_information                              3506 non-null   object
 27  project                                                 3506 non-null   object
 28  stage_event_system_version                              3506 non-null   object
 29  stage_event_tnm_categories                              3506 non-null   object
 30  primary_pathology_tumor_tissue_site                     3506 non-null   object
 31  primary_pathology_esophageal_tumor_cental_location      3506 non-null   object
 32  primary_pathology_esophageal_tumor_involvement_sites    3506 non-null   object
 33  primary_pathology_histological_type                     3506 non-null   object
 34  primary_pathology_neoplasm_histologic_grade             3506 non-null   object
 35  primary_pathology_days_to_initial_pathologic_diagnosis  3506 non-null   int64
 36  primary_pathology_age_at_initial_pathologic_diagnosis   3506 non-null   int64
 37  primary_pathology_year_of_initial_pathologic_diagnosis  3506 non-null   float64
 38  primary_pathology_initial_pathologic_diagnosis_method   3506 non-null   object
dtypes: float64(3), int64(7), object(29)
memory usage: 1.0+ MB

In [2873]:
df.columns

Index(['Unnamed: 0', 'patient_barcode', 'tissue_source_site', 'patient_id',
       'bcr_patient_uuid', 'informed_consent_verified', 'icd_o_3_site',
       'icd_o_3_histology', 'icd_10',
       'tissue_prospective_collection_indicator',
       'tissue_retrospective_collection_indicator', 'days_to_birth', 'gender',
       'height', 'weight', 'country_of_procurement', 'other_dx',
       'history_of_neoadjuvant_treatment', 'vital_status',
       'alcohol_history_documented', 'has_new_tumor_events_information',
       'day_of_form_completion', 'month_of_form_completion',
       'year_of_form_completion', 'has_follow_ups_information',
       'has_drugs_information', 'has_radiations_information', 'project',
       'stage_event_system_version', 'stage_event_tnm_categories',
       'primary_pathology_tumor_tissue_site',
       'primary_pathology_esophageal_tumor_cental_location',
       'primary_pathology_esophageal_tumor_involvement_sites',
       'primary_pathology_histological_type',
       'primary_pathology_neoplasm_histologic_grade',
       'primary_pathology_days_to_initial_pathologic_diagnosis',
       'primary_pathology_age_at_initial_pathologic_diagnosis',
       'primary_pathology_year_of_initial_pathologic_diagnosis',
       'primary_pathology_initial_pathologic_diagnosis_method'],
      dtype='object')

In [2874]:
df.head()

,Unnamed: 0,patient_barcode,tissue_source_site,patient_id,bcr_patient_uuid,informed_consent_verified,icd_o_3_site,icd_o_3_histology,icd_10,tissue_prospective_collection_indicator,...,stage_event_tnm_categories,primary_pathology_tumor_tissue_site,primary_pathology_esophageal_tumor_cental_location,primary_pathology_esophageal_tumor_involvement_sites,primary_pathology_histological_type,primary_pathology_neoplasm_histologic_grade,primary_pathology_days_to_initial_pathologic_diagnosis,primary_pathology_age_at_initial_pathologic_diagnosis,primary_pathology_year_of_initial_pathologic_diagnosis,primary_pathology_initial_pathologic_diagnosis_method
0,0,TCGA-2H-A9GF,2H,A9GF,0500F1A6-A528-43F3-B035-12D3B7C99C0F,YES,C15.5,8140/3,C15.5,NO,...,T3N1M0,Esophagus,Distal,Distal,"Esophagus Adenocarcinoma, NOS",G3,0,67,2001.0,"Other method, specify:"
1,1,TCGA-2H-A9GG,2H,A9GG,70084008-697D-442D-8F74-C12F8F598570,YES,C15.5,8140/3,C15.5,NO,...,T3N1M0,Esophagus,Distal,Distal,"Esophagus Adenocarcinoma, NOS",G2,0,66,1999.0,"Other method, specify:"
2,2,TCGA-2H-A9GH,2H,A9GH,606DC5B8-7625-42A6-A936-504EF25623A4,YES,C15.5,8140/3,C15.5,NO,...,T1N1M0,Esophagus,Distal,Distal,"Esophagus Adenocarcinoma, NOS",G2,0,44,1998.0,"Other method, specify:"
3,3,TCGA-2H-A9GI,2H,A9GI,CEAF98F8-517E-457A-BF29-ACFE22893D49,YES,C15.5,8140/3,C15.5,NO,...,T3N1M0,Esophagus,Distal,Distal,"Esophagus Adenocarcinoma, NOS",G2,0,68,1999.0,"Other method, specify:"
4,4,TCGA-2H-A9GJ,2H,A9GJ,EE47CD59-C8D8-4B1E-96DB-91C679E4106F,YES,C15.5,8140/3,C15.5,NO,...,T1N0M0,Esophagus,Distal,Distal,"Esophagus Adenocarcinoma, NOS",G2,0,57,2000.0,"Other method, specify:"

In [2875]:
df.drop(['Unnamed: 0', 'patient_barcode', 'patient_id', 'bcr_patient_uuid', 'informed_consent_verified', 'history_of_neoadjuvant_treatment', 'project', 'stage_event_tnm_categories', 'primary_pathology_tumor_tissue_site', 'primary_pathology_days_to_initial_pathologic_diagnosis','primary_pathology_initial_pathologic_diagnosis_method'
], axis=1, inplace=True)

In [2876]:
df['tissue_source_site'].unique()

array(['2H', 'IC', 'IG', 'JY', 'KH', 'L5', 'L7', 'LN', 'Q9', 'R6', 'RE',
       'S8', 'VR', 'Z6'], dtype=object)

In [2877]:
enc = OneHotEncoder(categories='auto')
tss = df['tissue_source_site'].values.reshape(-1, 1)
enc.fit(tss)
new_features = enc.get_feature_names_out()
print(new_features)
new_tss = pd.DataFrame(enc.transform(tss).toarray())

['x0_2H' 'x0_IC' 'x0_IG' 'x0_JY' 'x0_KH' 'x0_L5' 'x0_L7' 'x0_LN' 'x0_Q9'
 'x0_R6' 'x0_RE' 'x0_S8' 'x0_VR' 'x0_Z6']

In [2878]:
new_tss.columns = ['2H', 'IC', 'IG', 'JY', 'KH', 'L5', 'L7', 'LN', 'Q9', 'R6', 'RE', 'S8', 'VR', 'Z6']

In [2879]:
df = pd.concat([df, new_tss], axis=1)
df.drop('tissue_source_site', axis=1, inplace=True)

In [2880]:
df.head()

,icd_o_3_site,icd_o_3_histology,icd_10,tissue_prospective_collection_indicator,tissue_retrospective_collection_indicator,days_to_birth,gender,height,weight,country_of_procurement,...,KH,L5,L7,LN,Q9,R6,RE,S8,VR,Z6
0,C15.5,8140/3,C15.5,NO,YES,-24487,MALE,183.0,95.0,Netherlands,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,C15.5,8140/3,C15.5,NO,YES,-24328,MALE,178.0,74.0,Netherlands,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,C15.5,8140/3,C15.5,NO,YES,-16197,MALE,183.0,91.0,Netherlands,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,C15.5,8140/3,C15.5,NO,YES,-25097,MALE,188.0,100.0,Netherlands,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,C15.5,8140/3,C15.5,NO,YES,-21180,MALE,189.0,70.0,Netherlands,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [2881]:
enc2 = OneHotEncoder(categories='auto')
icd = df['icd_o_3_site'].values.reshape(-1, 1)
enc2.fit(icd)
new_features = enc2.get_feature_names_out()
print(new_features)
new_icd = pd.DataFrame(enc2.transform(icd).toarray())

['x0_C15.1' 'x0_C15.3' 'x0_C15.4' 'x0_C15.5' 'x0_C15.9' 'x0_C16.0']

In [2882]:
new_icd.columns = ['C15.1', 'C15.3', 'C15.4', 'C15.5', 'C15.9', 'C16.0']

In [2883]:
df = pd.concat([df, new_icd], axis=1)
df.drop('icd_o_3_site', axis=1, inplace=True)

In [2884]:
df.head()

,icd_o_3_histology,icd_10,tissue_prospective_collection_indicator,tissue_retrospective_collection_indicator,days_to_birth,gender,height,weight,country_of_procurement,other_dx,...,RE,S8,VR,Z6,C15.1,C15.3,C15.4,C15.5,C15.9,C16.0
0,8140/3,C15.5,NO,YES,-24487,MALE,183.0,95.0,Netherlands,No,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,8140/3,C15.5,NO,YES,-24328,MALE,178.0,74.0,Netherlands,No,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,8140/3,C15.5,NO,YES,-16197,MALE,183.0,91.0,Netherlands,No,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,8140/3,C15.5,NO,YES,-25097,MALE,188.0,100.0,Netherlands,No,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,8140/3,C15.5,NO,YES,-21180,MALE,189.0,70.0,Netherlands,No,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [2885]:
df['icd_o_3_histology'].unique()

array(['8140/3', '8070/3', '8071/3', '8480/3', '8211/3'], dtype=object)

In [2886]:
enc3 = OneHotEncoder(categories='auto')
icdhis = df['icd_o_3_histology'].values.reshape(-1, 1)
enc3.fit(icdhis)
new_features = enc3.get_feature_names_out()
print(new_features)
new_icdhis = pd.DataFrame(enc3.transform(icdhis).toarray())

['x0_8070/3' 'x0_8071/3' 'x0_8140/3' 'x0_8211/3' 'x0_8480/3']

In [2887]:
new_icdhis.columns = ['8070/3', '8071/3', '8140/3', '8211/3', '8480/3']

In [2888]:
df = pd.concat([df, new_icdhis], axis=1)
df.drop('icd_o_3_histology', axis=1, inplace=True)

In [2889]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3506 entries, 0 to 3505
Data columns (total 50 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   icd_10                                                  3506 non-null   object
 1   tissue_prospective_collection_indicator                 3506 non-null   object
 2   tissue_retrospective_collection_indicator               3506 non-null   object
 3   days_to_birth                                           3506 non-null   int64
 4   gender                                                  3506 non-null   object
 5   height                                                  3506 non-null   float64
 6   weight                                                  3506 non-null   float64
 7   country_of_procurement                                  3506 non-null   object
 8   other_dx                                                3506 non-null   object
 9   vital_status                                            3506 non-null   object
 10  alcohol_history_documented                              3506 non-null   object
 11  has_new_tumor_events_information                        3506 non-null   object
 12  day_of_form_completion                                  3506 non-null   int64
 13  month_of_form_completion                                3506 non-null   int64
 14  year_of_form_completion                                 3506 non-null   int64
 15  has_follow_ups_information                              3506 non-null   object
 16  has_drugs_information                                   3506 non-null   object
 17  has_radiations_information                              3506 non-null   object
 18  stage_event_system_version                              3506 non-null   object
 19  primary_pathology_esophageal_tumor_cental_location      3506 non-null   object
 20  primary_pathology_esophageal_tumor_involvement_sites    3506 non-null   object
 21  primary_pathology_histological_type                     3506 non-null   object
 22  primary_pathology_neoplasm_histologic_grade             3506 non-null   object
 23  primary_pathology_age_at_initial_pathologic_diagnosis   3506 non-null   int64
 24  primary_pathology_year_of_initial_pathologic_diagnosis  3506 non-null   float64
 25  2H                                                      3506 non-null   float64
 26  IC                                                      3506 non-null   float64
 27  IG                                                      3506 non-null   float64
 28  JY                                                      3506 non-null   float64
 29  KH                                                      3506 non-null   float64
 30  L5                                                      3506 non-null   float64
 31  L7                                                      3506 non-null   float64
 32  LN                                                      3506 non-null   float64
 33  Q9                                                      3506 non-null   float64
 34  R6                                                      3506 non-null   float64
 35  RE                                                      3506 non-null   float64
 36  S8                                                      3506 non-null   float64
 37  VR                                                      3506 non-null   float64
 38  Z6                                                      3506 non-null   float64
 39  C15.1                                                   3506 non-null   float64
 40  C15.3                                                   3506 non-null   float64
 41  C15.4                                                   3506 non-null   float64
 42  C15.5                                                   3506 non-null   float64
 43  C15.9                                                   3506 non-null   float64
 44  C16.0                                                   3506 non-null   float64
 45  8070/3                                                  3506 non-null   float64
 46  8071/3                                                  3506 non-null   float64
 47  8140/3                                                  3506 non-null   float64
 48  8211/3                                                  3506 non-null   float64
 49  8480/3                                                  3506 non-null   float64
dtypes: float64(28), int64(5), object(17)
memory usage: 1.3+ MB

In [2890]:
df.columns

Index(['icd_10', 'tissue_prospective_collection_indicator',
       'tissue_retrospective_collection_indicator', 'days_to_birth', 'gender',
       'height', 'weight', 'country_of_procurement', 'other_dx',
       'vital_status', 'alcohol_history_documented',
       'has_new_tumor_events_information', 'day_of_form_completion',
       'month_of_form_completion', 'year_of_form_completion',
       'has_follow_ups_information', 'has_drugs_information',
       'has_radiations_information', 'stage_event_system_version',
       'primary_pathology_esophageal_tumor_cental_location',
       'primary_pathology_esophageal_tumor_involvement_sites',
       'primary_pathology_histological_type',
       'primary_pathology_neoplasm_histologic_grade',
       'primary_pathology_age_at_initial_pathologic_diagnosis',
       'primary_pathology_year_of_initial_pathologic_diagnosis', '2H', 'IC',
       'IG', 'JY', 'KH', 'L5', 'L7', 'LN', 'Q9', 'R6', 'RE', 'S8', 'VR', 'Z6',
       'C15.1', 'C15.3', 'C15.4', 'C15.5', 'C15.9', 'C16.0', '8070/3',
       '8071/3', '8140/3', '8211/3', '8480/3'],
      dtype='object')

In [2891]:
df.head()

,icd_10,tissue_prospective_collection_indicator,tissue_retrospective_collection_indicator,days_to_birth,gender,height,weight,country_of_procurement,other_dx,vital_status,...,C15.3,C15.4,C15.5,C15.9,C16.0,8070/3,8071/3,8140/3,8211/3,8480/3
0,C15.5,NO,YES,-24487,MALE,183.0,95.0,Netherlands,No,Dead,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,C15.5,NO,YES,-24328,MALE,178.0,74.0,Netherlands,No,Dead,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,C15.5,NO,YES,-16197,MALE,183.0,91.0,Netherlands,No,Dead,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,C15.5,NO,YES,-25097,MALE,188.0,100.0,Netherlands,No,Dead,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,C15.5,NO,YES,-21180,MALE,189.0,70.0,Netherlands,No,Dead,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [2892]:
df['icd_10'].unique()

array(['C15.5', 'C15.9', 'C15.4', 'C15.3', 'C16.0'], dtype=object)

In [2893]:
enc4 = OneHotEncoder(categories='auto')
icd10 = df['icd_10'].values.reshape(-1, 1)
enc4.fit(icd10)
new_features = enc4.get_feature_names_out()
print(new_features)
new_icd10 = pd.DataFrame(enc4.transform(icd10).toarray())

['x0_C15.3' 'x0_C15.4' 'x0_C15.5' 'x0_C15.9' 'x0_C16.0']

In [2894]:
new_icd10.columns = ['C15.3', 'C15.4', 'C15.5', 'C15.9', 'C16.0']

In [2895]:
df = pd.concat([df, new_icd10], axis=1)
df.drop('icd_10', axis=1, inplace=True)

In [2896]:
df.head()

,tissue_prospective_collection_indicator,tissue_retrospective_collection_indicator,days_to_birth,gender,height,weight,country_of_procurement,other_dx,vital_status,alcohol_history_documented,...,8070/3,8071/3,8140/3,8211/3,8480/3,C15.3,C15.4,C15.5,C15.9,C16.0
0,NO,YES,-24487,MALE,183.0,95.0,Netherlands,No,Dead,NO,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,NO,YES,-24328,MALE,178.0,74.0,Netherlands,No,Dead,NO,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,NO,YES,-16197,MALE,183.0,91.0,Netherlands,No,Dead,NO,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,NO,YES,-25097,MALE,188.0,100.0,Netherlands,No,Dead,NO,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,NO,YES,-21180,MALE,189.0,70.0,Netherlands,No,Dead,NO,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [2897]:
df['tissue_prospective_collection_indicator'] = df['tissue_prospective_collection_indicator'].map({'NO': 0, 'YES': 1})
df['tissue_retrospective_collection_indicator'] = df['tissue_retrospective_collection_indicator'].map({'NO': 0, 'YES': 1})
df['gender'] = df['gender'].map({'FEMALE': 0, 'MALE': 1})

In [2898]:
df['country_of_procurement'].unique()

array(['Netherlands', 'United States', 'Russia', 'Ukraine', 'Vietnam',
       'Bulgaria', 'Canada', 'Australia', 'Brazil'], dtype=object)

In [2899]:
enc = OneHotEncoder(categories='auto')
country = df['country_of_procurement'].values.reshape(-1, 1)
enc.fit(country)
new_features = enc.get_feature_names_out()
print(new_features)
new_country = pd.DataFrame(enc.transform(country).toarray())

['x0_Australia' 'x0_Brazil' 'x0_Bulgaria' 'x0_Canada' 'x0_Netherlands'
 'x0_Russia' 'x0_Ukraine' 'x0_United States' 'x0_Vietnam']

In [2900]:
new_country.columns = ['Australia', 'Brazil', 'Bulgaria', 'Canada', 'Netherlands', 'Russia', 'Ukraine', 'United States', 'Vietnam']

In [2901]:
df = pd.concat([df, new_country], axis=1)
df.drop('country_of_procurement', axis=1, inplace=True)

In [2902]:
df.head()

,tissue_prospective_collection_indicator,tissue_retrospective_collection_indicator,days_to_birth,gender,height,weight,other_dx,vital_status,alcohol_history_documented,has_new_tumor_events_information,...,C16.0,Australia,Brazil,Bulgaria,Canada,Netherlands,Russia,Ukraine,United States,Vietnam
0,0,1,-24487,1,183.0,95.0,No,Dead,NO,YES,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0,1,-24328,1,178.0,74.0,No,Dead,NO,YES,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0,1,-16197,1,183.0,91.0,No,Dead,NO,YES,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0,1,-25097,1,188.0,100.0,No,Dead,NO,YES,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0,1,-21180,1,189.0,70.0,No,Dead,NO,YES,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [2903]:
df['alcohol_history_documented'].unique()

array(['NO', 'YES'], dtype=object)

In [2904]:
df['other_dx']= df['other_dx'].map({'No': 0, 'Yes': 1})
df['vital_status']= df['vital_status'].map({'Dead': 0, 'Alive': 1})

df['alcohol_history_documented']= df['alcohol_history_documented'].map({'NO': 0, 'YES': 1})

df['has_new_tumor_events_information']= df['has_new_tumor_events_information'].map({'NO': 0, 'YES': 1})

df['has_follow_ups_information'] = df['has_follow_ups_information'].map({'NO':0, 'YES':1})

df['has_drugs_information'] = df['has_drugs_information'].map({'NO':0, 'YES':1})

df['has_radiations_information'] = df['has_radiations_information'].map({'NO':0, 'YES':1})


df['stage_event_system_version'] = df['stage_event_system_version'].map({'5th':0, '6th': 1, '7th': 2})

In [2905]:
df['has_new_tumor_events_information'].unique()

array([1, 0])

In [2906]:
df.head()

,tissue_prospective_collection_indicator,tissue_retrospective_collection_indicator,days_to_birth,gender,height,weight,other_dx,vital_status,alcohol_history_documented,has_new_tumor_events_information,...,C16.0,Australia,Brazil,Bulgaria,Canada,Netherlands,Russia,Ukraine,United States,Vietnam
0,0,1,-24487,1,183.0,95.0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0,1,-24328,1,178.0,74.0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0,1,-16197,1,183.0,91.0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0,1,-25097,1,188.0,100.0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0,1,-21180,1,189.0,70.0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [2907]:
df.columns

Index(['tissue_prospective_collection_indicator',
       'tissue_retrospective_collection_indicator', 'days_to_birth', 'gender',
       'height', 'weight', 'other_dx', 'vital_status',
       'alcohol_history_documented', 'has_new_tumor_events_information',
       'day_of_form_completion', 'month_of_form_completion',
       'year_of_form_completion', 'has_follow_ups_information',
       'has_drugs_information', 'has_radiations_information',
       'stage_event_system_version',
       'primary_pathology_esophageal_tumor_cental_location',
       'primary_pathology_esophageal_tumor_involvement_sites',
       'primary_pathology_histological_type',
       'primary_pathology_neoplasm_histologic_grade',
       'primary_pathology_age_at_initial_pathologic_diagnosis',
       'primary_pathology_year_of_initial_pathologic_diagnosis', '2H', 'IC',
       'IG', 'JY', 'KH', 'L5', 'L7', 'LN', 'Q9', 'R6', 'RE', 'S8', 'VR', 'Z6',
       'C15.1', 'C15.3', 'C15.4', 'C15.5', 'C15.9', 'C16.0', '8070/3',
       '8071/3', '8140/3', '8211/3', '8480/3', 'C15.3', 'C15.4', 'C15.5',
       'C15.9', 'C16.0', 'Australia', 'Brazil', 'Bulgaria', 'Canada',
       'Netherlands', 'Russia', 'Ukraine', 'United States', 'Vietnam'],
      dtype='object')

In [2908]:
df['primary_pathology_histological_type'] =df['primary_pathology_histological_type'].map({'Esophagus Adenocarcinoma, NOS': 0, 'Esophagus Squamous Cell Carcinoma': 1})

df['primary_pathology_neoplasm_histologic_grade'] =df['primary_pathology_neoplasm_histologic_grade'].map({'GX': 0, 'G1': 1, 'G2': 2, 'G3': 3})

In [2909]:
enc = OneHotEncoder(categories='auto')
ppetcl = df['primary_pathology_esophageal_tumor_cental_location'].values.reshape(-1, 1)
enc.fit(ppetcl)
new_features = enc.get_feature_names_out()
print(new_features)
new_ppetcl = pd.DataFrame(enc.transform(ppetcl).toarray())

['x0_Distal' 'x0_Mid' 'x0_Proximal']

In [2910]:
new_ppetcl.columns = ['Distal', 'Mid', 'Proximal']

In [2911]:
df = pd.concat([df, new_ppetcl], axis=1)
df.drop('primary_pathology_esophageal_tumor_cental_location', axis=1, inplace=True)

In [2912]:
enc = OneHotEncoder(categories='auto')
ppetis = df['primary_pathology_esophageal_tumor_involvement_sites'].values.reshape(-1, 1)
enc.fit(ppetis)
new_features = enc.get_feature_names_out()
print(new_features)
new_ppetis = pd.DataFrame(enc.transform(ppetis).toarray())

['x0_Distal' 'x0_Mid' 'x0_MidDistal' 'x0_Proximal' 'x0_ProximalMid']

In [2913]:
new_ppetis.columns = ['Distal1', 'Mid1','MidDistal1', 'Proximal1', 'ProximalMid1']

In [2914]:
df = pd.concat([df, new_ppetis], axis=1)
df.drop('primary_pathology_esophageal_tumor_involvement_sites', axis=1, inplace=True)

In [2915]:
y = df['vital_status'].values
X = df.drop('vital_status', axis=1)

In [2916]:
print(X.shape)
selector = VarianceThreshold(threshold=0.1)
X = selector.fit_transform(X)
print(X.shape)

(3506, 67)
(3506, 34)

In [2917]:
# build mask
gender_0_mask = df['gender'] == 0
gender_1_mask = df['gender'] == 1

count_gender_0 = gender_0_mask.sum()
count_gender_1 = gender_1_mask.sum()

print("Female: ", count_gender_0)
print("Male: ", count_gender_1)

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_scaled_Gender_0 = X_scaled[gender_0_mask]
X_scaled_Gender_1 = X_scaled[gender_1_mask]
y_Gender_0 = y[gender_0_mask]
y_Gender_1 = y[gender_1_mask]

Female:  556
Male:  2950

In [2918]:
seed = 42
models = fl.build_models(seed)

results_list = []

kf = KFold(n_splits=10, shuffle=True, random_state=seed)

In [2919]:
print("Starting experiments for Female(0)")
fl.run_experiment(kf, models, X_scaled_Gender_0, y_Gender_0, 'Female', results_list)

print("Starting experiments for Male(1)")
fl.run_experiment(kf, models, X_scaled_Gender_1, y_Gender_1, 'Male', results_list)

final_results_df = pd.concat(results_list, ignore_index=True)
print(final_results_df)

Starting experiments for Female(0)
Processing fold 1 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 2 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 3 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 4 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 5 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 6 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 7 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 8 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 9 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 10 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Starting experiments for Male(1)
Processing fold 1 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 2 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 3 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 4 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 5 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 6 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 7 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 8 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 9 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 10 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
    Fold   Group   SVM_TPR  SVM_TNR  SVM_FPR   SVM_FNR  SVM_TP  SVM_TN  \
0      1  Female  1.000000      1.0      0.0  0.000000      46      10
1      2  Female  1.000000      1.0      0.0  0.000000      43      13
2      3  Female  1.000000      1.0      0.0  0.000000      44      12
3      4  Female  1.000000      1.0      0.0  0.000000      49       7
4      5  Female  1.000000      1.0      0.0  0.000000      49       7
5      6  Female  1.000000      1.0      0.0  0.000000      45      11
6      7  Female  1.000000      1.0      0.0  0.000000      46       9
7      8  Female  1.000000      1.0      0.0  0.000000      44      11
8      9  Female  1.000000      1.0      0.0  0.000000      48       7
9     10  Female  1.000000      1.0      0.0  0.000000      43      12
10     1    Male  0.979592      1.0      0.0  0.020408     192      99
11     2    Male  0.989529      1.0      0.0  0.010471     189     104
12     3    Male  0.995261      1.0      0.0  0.004739     210      84
13     4    Male  0.994764      1.0      0.0  0.005236     190     104
14     5    Male  0.995098      1.0      0.0  0.004902     203      91
15     6    Male  0.989247      1.0      0.0  0.010753     184     109
16     7    Male  0.990099      1.0      0.0  0.009901     200      93
17     8    Male  0.995238      1.0      0.0  0.004762     209      85
18     9    Male  0.990099      1.0      0.0  0.009901     200      93
19    10    Male  0.979899      1.0      0.0  0.020101     195      96

    SVM_FP  SVM_FN  ...  ANN_FP  ANN_FN    NB_TPR  NB_TNR  NB_FPR    NB_FNR  \
0        0       0  ...       0       0  0.695652     1.0     0.0  0.304348
1        0       0  ...       0       0  0.674419     1.0     0.0  0.325581
2        0       0  ...       0       0  0.636364     1.0     0.0  0.363636
3        0       0  ...       0       0  0.673469     1.0     0.0  0.326531
4        0       0  ...       0       0  0.612245     1.0     0.0  0.387755
5        0       0  ...       0       0  0.711111     1.0     0.0  0.288889
6        0       0  ...       0       0  0.521739     1.0     0.0  0.478261
7        0       0  ...       0       0  0.681818     1.0     0.0  0.318182
8        0       0  ...       0       0  0.708333     1.0     0.0  0.291667
9        0       0  ...       0       0  0.627907     1.0     0.0  0.372093
10       0       4  ...       0       0  0.586735     1.0     0.0  0.413265
11       0       2  ...       0       0  0.581152     1.0     0.0  0.418848
12       0       1  ...       0       0  0.530806     1.0     0.0  0.469194
13       0       1  ...       0       0  0.638743     1.0     0.0  0.361257
14       0       1  ...       0       0  0.617647     1.0     0.0  0.382353
15       0       2  ...       0       0  0.639785     1.0     0.0  0.360215
16       0       2  ...       0       0  0.589109     1.0     0.0  0.410891
17       0       1  ...       0       0  0.533333     1.0     0.0  0.466667
18       0       2  ...       0       0  0.549505     1.0     0.0  0.450495
19       0       4  ...       0       0  0.562814     1.0     0.0  0.437186

    NB_TP  NB_TN  NB_FP  NB_FN
0      32     10      0     14
1      29     13      0     14
2      28     12      0     16
3      33      7      0     16
4      30      7      0     19
5      32     11      0     13
6      24      9      0     22
7      30     11      0     14
8      34      7      0     14
9      27     12      0     16
10    115     99      0     81
11    111    104      0     80
12    112     84      0     99
13    122    104      0     69
14    126     91      0     78
15    119    109      0     67
16    119     93      0     83
17    112     85      0     98
18    111     93      0     91
19    112     96      0     87

[20 rows x 58 columns]

In [2920]:
results_df = pd.concat(results_list, ignore_index=True)

In [2921]:
result_path = './results/K35_result.xlsx'
results_df.to_excel(result_path, index=False)

In [2922]:
df = pd.read_excel(result_path)
df.head()

,Fold,Group,SVM_TPR,SVM_TNR,SVM_FPR,SVM_FNR,SVM_TP,SVM_TN,SVM_FP,SVM_FN,...,ANN_FP,ANN_FN,NB_TPR,NB_TNR,NB_FPR,NB_FNR,NB_TP,NB_TN,NB_FP,NB_FN
0,1,Female,1.0,1,0,0.0,46,10,0,0,...,0,0,0.695652,1,0,0.304348,32,10,0,14
1,2,Female,1.0,1,0,0.0,43,13,0,0,...,0,0,0.674419,1,0,0.325581,29,13,0,14
2,3,Female,1.0,1,0,0.0,44,12,0,0,...,0,0,0.636364,1,0,0.363636,28,12,0,16
3,4,Female,1.0,1,0,0.0,49,7,0,0,...,0,0,0.673469,1,0,0.326531,33,7,0,16
4,5,Female,1.0,1,0,0.0,49,7,0,0,...,0,0,0.612245,1,0,0.387755,30,7,0,19

In [2923]:
label = 'Female'

fl.perform_t_tests(df, 'SVM', label)
fl.perform_t_tests(df, 'DT', label)
fl.perform_t_tests(df, 'RF', label)
fl.perform_t_tests(df, 'LR', label)
fl.perform_t_tests(df, 'KNN', label)
fl.perform_t_tests(df, 'ANN', label)
fl.perform_t_tests(df, 'NB', label)

SVM -TPR: MannwhitneyuResult(statistic=np.float64(100.0), pvalue=np.float64(6.340287417294021e-05))
SVM - FPR: MannwhitneyuResult(statistic=np.float64(50.0), pvalue=np.float64(1.0))
SVM - FN/FP: MannwhitneyuResult(statistic=np.float64(0.0), pvalue=np.float64(5.469864163379713e-05))
DT -TPR: MannwhitneyuResult(statistic=np.float64(50.0), pvalue=np.float64(1.0))
DT - FPR: MannwhitneyuResult(statistic=np.float64(45.0), pvalue=np.float64(0.36812025069351895))
DT - FN/FP: MannwhitneyuResult(statistic=np.float64(50.0), pvalue=np.float64(1.0))
RF -TPR: MannwhitneyuResult(statistic=np.float64(50.0), pvalue=np.float64(1.0))
RF - FPR: MannwhitneyuResult(statistic=np.float64(50.0), pvalue=np.float64(1.0))
RF - FN/FP: MannwhitneyuResult(statistic=np.float64(50.0), pvalue=np.float64(1.0))
LR -TPR: MannwhitneyuResult(statistic=np.float64(60.0), pvalue=np.float64(0.16807831903497028))
LR - FPR: MannwhitneyuResult(statistic=np.float64(50.0), pvalue=np.float64(1.0))
LR - FN/FP: MannwhitneyuResult(statistic=np.float64(40.0), pvalue=np.float64(0.16807831903497028))
KNN -TPR: MannwhitneyuResult(statistic=np.float64(50.0), pvalue=np.float64(1.0))
KNN - FPR: MannwhitneyuResult(statistic=np.float64(50.0), pvalue=np.float64(1.0))
KNN - FN/FP: MannwhitneyuResult(statistic=np.float64(50.0), pvalue=np.float64(1.0))
ANN -TPR: MannwhitneyuResult(statistic=np.float64(50.0), pvalue=np.float64(1.0))
ANN - FPR: MannwhitneyuResult(statistic=np.float64(50.0), pvalue=np.float64(1.0))
ANN - FN/FP: MannwhitneyuResult(statistic=np.float64(50.0), pvalue=np.float64(1.0))
NB -TPR: TtestResult(statistic=np.float64(3.224650551393578), pvalue=np.float64(0.00470059288328465), df=np.float64(18.0))
NB - FPR: MannwhitneyuResult(statistic=np.float64(50.0), pvalue=np.float64(1.0))
NB - FN/FP: MannwhitneyuResult(statistic=np.float64(0.0), pvalue=np.float64(0.0001687630193295421))