In [3]:
import pandas as pd
import fairtl_statisticaltest as fl
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [4]:
df = pd.read_csv('/home/morning/.cache/kagglehub/datasets/kamilpytlak/personal-key-indicators-of-heart-disease/versions/6/2022/heart_2022_no_nans.csv')
df.head()

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,...,HeightInMeters,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,4.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,...,1.60,71.67,27.99,No,No,Yes,Yes,"Yes, received Tdap",No,No
1,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,6.0,None of them,No,...,1.78,95.25,30.13,No,No,Yes,Yes,"Yes, received tetanus shot but not sure what type",No,No
2,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,8.0,"6 or more, but not all",No,...,1.85,108.86,31.66,Yes,No,No,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes
3,Alabama,Female,Fair,5.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,...,1.70,90.72,31.32,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes
4,Alabama,Female,Good,3.0,15.0,Within past year (anytime less than 12 months ...,Yes,5.0,1 to 5,No,...,1.55,79.38,33.07,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No

In [6]:
df.shape

(246022, 40)

In [7]:
df.drop('State', axis=1, inplace=True)

In [9]:
s = df.isna().sum().sum()
s

np.int64(0)

In [11]:
df['Sex'] = df['Sex'].map({'Female': 0, 'Male': 1})

In [12]:
df['GeneralHealth'] = df['GeneralHealth'].map({'Poor': 0, 'Fair': 1, 'Good': 2, 'Very good': 3, 'Excellent': 4})

In [13]:
df['GeneralHealth'].unique()

array([3, 1, 2, 4, 0])

In [14]:
df['LastCheckupTime'] = df['LastCheckupTime'].map({'Within past year (anytime less than 12 months ago)': 0, 'Within past 2 years (1 year but less than 2 years ago)': 1, 'Within past 5 years (2 years but less than 5 years ago)': 2, '5 or more years ago': 3})

In [15]:
df['LastCheckupTime'].unique()

array([0, 3, 1, 2])

In [16]:
df['PhysicalActivities'].unique()

array(['Yes', 'No'], dtype=object)

In [17]:
df['PhysicalActivities']  = df['PhysicalActivities'].map({'No': 0, 'Yes': 1})

In [18]:
df.drop(['RemovedTeeth', 'ECigaretteUsage'], axis=1, inplace=True)

In [19]:
df['HadHeartAttack'] = df['HadHeartAttack'].map({'No': 0, 'Yes': 1})

In [20]:
df.isna().sum().sum()

np.int64(0)

In [21]:
df['HadDiabetes'].unique()

array(['No', 'Yes', 'Yes, but only during pregnancy (female)',
       'No, pre-diabetes or borderline diabetes'], dtype=object)

In [22]:
df['HadAngina'] = df['HadAngina'].map({'No': 0, 'Yes': 1})
df['HadStroke'] = df['HadStroke'].map({'No': 0, 'Yes': 1})
df['HadAsthma'] = df['HadAsthma'].map({'No': 0, 'Yes': 1})
df['HadSkinCancer'] = df['HadSkinCancer'].map({'No': 0, 'Yes': 1})
df['HadCOPD'] = df['HadCOPD'].map({'No': 0, 'Yes': 1})
df['HadDepressiveDisorder'] = df['HadDepressiveDisorder'].map({'No': 0, 'Yes': 1})
df['HadKidneyDisease'] = df['HadKidneyDisease'].map({'No': 0, 'Yes': 1})
df['HadArthritis'] = df['HadArthritis'].map({'No': 0, 'Yes': 1})
df['HadDiabetes'] = df['HadDiabetes'].map({'No': 0, 'No, pre-diabetes or borderline diabetes': 1, 'Yes, but only during pregnancy (female)': 2, 'Yes': 3})
df['DeafOrHardOfHearing'] = df['DeafOrHardOfHearing'].map({'No': 0, 'Yes': 1})
df['BlindOrVisionDifficulty'] = df['BlindOrVisionDifficulty'].map({'No': 0, 'Yes': 1})
df['DifficultyConcentrating'] = df['DifficultyConcentrating'].map({'No': 0, 'Yes': 1})
df['DifficultyWalking'] = df['DifficultyWalking'].map({'No': 0, 'Yes': 1})
df['DifficultyDressingBathing'] = df['DifficultyDressingBathing'].map({'No': 0, 'Yes': 1})
df['DifficultyErrands'] = df['DifficultyErrands'].map({'No': 0, 'Yes': 1})
df['ChestScan'] = df['ChestScan'].map({'No': 0, 'Yes': 1})

In [23]:
df.isna().sum().sum()

np.int64(0)

In [24]:
df['SmokerStatus'].unique()

array(['Former smoker', 'Never smoked',
       'Current smoker - now smokes every day',
       'Current smoker - now smokes some days'], dtype=object)

In [25]:
df['SmokerStatus'] = df['SmokerStatus'].map({'Never smoked': 0, 'Former smoker': 1, 'Current smoker - now smokes some days': 2, 'Current smoker - now smokes every day': 3})

In [26]:
df['RaceEthnicityCategory'].unique()

array(['White only, Non-Hispanic', 'Black only, Non-Hispanic',
       'Other race only, Non-Hispanic', 'Multiracial, Non-Hispanic',
       'Hispanic'], dtype=object)

In [27]:
enc = OneHotEncoder(categories='auto')
race = df['RaceEthnicityCategory'].values.reshape(-1, 1)
enc.fit(race)
new_features = enc.get_feature_names_out()
print(new_features)
new_race = pd.DataFrame(enc.transform(race).toarray())

['x0_Black only, Non-Hispanic' 'x0_Hispanic'
 'x0_Multiracial, Non-Hispanic' 'x0_Other race only, Non-Hispanic'
 'x0_White only, Non-Hispanic']

In [28]:
new_race.columns = ['Black only, Non-Hispanic', 'Hispanic', 'Multiracial, Non-Hispanic', 'ther race only, Non-Hispanic', 'White only, Non-Hispanic']

In [29]:
df.isna().sum().sum()

np.int64(0)

In [30]:
df = pd.concat([df, new_race], axis=1)
df.drop('RaceEthnicityCategory', axis=1, inplace=True)
df.head()

,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,HadHeartAttack,HadAngina,HadStroke,...,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos,"Black only, Non-Hispanic",Hispanic,"Multiracial, Non-Hispanic","ther race only, Non-Hispanic","White only, Non-Hispanic"
0,0,3,4.0,0.0,0,1,9.0,0,0,0,...,Yes,Yes,"Yes, received Tdap",No,No,0.0,0.0,0.0,0.0,1.0
1,1,3,0.0,0.0,0,1,6.0,0,0,0,...,Yes,Yes,"Yes, received tetanus shot but not sure what type",No,No,0.0,0.0,0.0,0.0,1.0
2,1,3,0.0,0.0,0,0,8.0,0,0,0,...,No,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes,0.0,0.0,0.0,0.0,1.0
3,0,1,5.0,0.0,0,1,9.0,0,0,0,...,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes,0.0,0.0,0.0,0.0,1.0
4,0,2,3.0,15.0,0,1,5.0,0,0,0,...,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No,0.0,0.0,0.0,0.0,1.0

In [31]:
df.isna().sum().sum()

np.int64(0)

In [32]:
df['AgeCategory'].unique()

array(['Age 65 to 69', 'Age 70 to 74', 'Age 75 to 79', 'Age 80 or older',
       'Age 50 to 54', 'Age 40 to 44', 'Age 60 to 64', 'Age 55 to 59',
       'Age 45 to 49', 'Age 35 to 39', 'Age 25 to 29', 'Age 30 to 34',
       'Age 18 to 24'], dtype=object)

In [33]:
def merge_age_groups(age_group):
    if age_group in ['Age 18 to 24', 'Age 25 to 29']:
        return '18-29'
    elif age_group in ['Age 30 to 34', 'Age 35 to 39']:
        return '30-39'
    elif age_group in ['Age 40 to 44', 'Age 45 to 49']:
        return '40-49'
    elif age_group in ['Age 50 to 54', 'Age 55 to 59']:
        return '50-59'
    elif age_group in ['Age 60 to 64', 'Age 65 to 69']:
        return '60-69'
    elif age_group in ['Age 70 to 74', 'Age 75 to 79', 'Age 80 or older']:
        return 'above 70'

In [34]:
df['AgeCategory'] = df['AgeCategory'].apply(merge_age_groups)

In [35]:
df.head()

,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,HadHeartAttack,HadAngina,HadStroke,...,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos,"Black only, Non-Hispanic",Hispanic,"Multiracial, Non-Hispanic","ther race only, Non-Hispanic","White only, Non-Hispanic"
0,0,3,4.0,0.0,0,1,9.0,0,0,0,...,Yes,Yes,"Yes, received Tdap",No,No,0.0,0.0,0.0,0.0,1.0
1,1,3,0.0,0.0,0,1,6.0,0,0,0,...,Yes,Yes,"Yes, received tetanus shot but not sure what type",No,No,0.0,0.0,0.0,0.0,1.0
2,1,3,0.0,0.0,0,0,8.0,0,0,0,...,No,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes,0.0,0.0,0.0,0.0,1.0
3,0,1,5.0,0.0,0,1,9.0,0,0,0,...,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes,0.0,0.0,0.0,0.0,1.0
4,0,2,3.0,15.0,0,1,5.0,0,0,0,...,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No,0.0,0.0,0.0,0.0,1.0

In [36]:
df.isna().sum().sum()

np.int64(0)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246022 entries, 0 to 246021
Data columns (total 41 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Sex                           246022 non-null  int64
 1   GeneralHealth                 246022 non-null  int64
 2   PhysicalHealthDays            246022 non-null  float64
 3   MentalHealthDays              246022 non-null  float64
 4   LastCheckupTime               246022 non-null  int64
 5   PhysicalActivities            246022 non-null  int64
 6   SleepHours                    246022 non-null  float64
 7   HadHeartAttack                246022 non-null  int64
 8   HadAngina                     246022 non-null  int64
 9   HadStroke                     246022 non-null  int64
 10  HadAsthma                     246022 non-null  int64
 11  HadSkinCancer                 246022 non-null  int64
 12  HadCOPD                       246022 non-null  int64
 13  HadDepressiveDisorder         246022 non-null  int64
 14  HadKidneyDisease              246022 non-null  int64
 15  HadArthritis                  246022 non-null  int64
 16  HadDiabetes                   246022 non-null  int64
 17  DeafOrHardOfHearing           246022 non-null  int64
 18  BlindOrVisionDifficulty       246022 non-null  int64
 19  DifficultyConcentrating       246022 non-null  int64
 20  DifficultyWalking             246022 non-null  int64
 21  DifficultyDressingBathing     246022 non-null  int64
 22  DifficultyErrands             246022 non-null  int64
 23  SmokerStatus                  246022 non-null  int64
 24  ChestScan                     246022 non-null  int64
 25  AgeCategory                   246022 non-null  object
 26  HeightInMeters                246022 non-null  float64
 27  WeightInKilograms             246022 non-null  float64
 28  BMI                           246022 non-null  float64
 29  AlcoholDrinkers               246022 non-null  object
 30  HIVTesting                    246022 non-null  object
 31  FluVaxLast12                  246022 non-null  object
 32  PneumoVaxEver                 246022 non-null  object
 33  TetanusLast10Tdap             246022 non-null  object
 34  HighRiskLastYear              246022 non-null  object
 35  CovidPos                      246022 non-null  object
 36  Black only, Non-Hispanic      246022 non-null  float64
 37  Hispanic                      246022 non-null  float64
 38  Multiracial, Non-Hispanic     246022 non-null  float64
 39  ther race only, Non-Hispanic  246022 non-null  float64
 40  White only, Non-Hispanic      246022 non-null  float64
dtypes: float64(11), int64(22), object(8)
memory usage: 77.0+ MB

In [38]:
df['AlcoholDrinkers'].unique()

array(['No', 'Yes'], dtype=object)

In [39]:
df['AlcoholDrinkers'] = df['AlcoholDrinkers'].map({'No': 0, 'Yes': 1})

In [40]:
df['HIVTesting'] = df['HIVTesting'].map({'No': 0, 'Yes': 1})

In [41]:
df['FluVaxLast12'] = df['FluVaxLast12'].map({'No': 0, 'Yes': 1})

In [42]:
df['PneumoVaxEver'] = df['PneumoVaxEver'].map({'No': 0, 'Yes': 1})

In [43]:
df['TetanusLast10Tdap'].unique()

array(['Yes, received Tdap',
       'Yes, received tetanus shot but not sure what type',
       'No, did not receive any tetanus shot in the past 10 years',
       'Yes, received tetanus shot, but not Tdap'], dtype=object)

In [44]:
enc = OneHotEncoder(categories='auto')
tk10t = df['TetanusLast10Tdap'].values.reshape(-1, 1)
enc.fit(tk10t)
new_features = enc.get_feature_names_out()
print(new_features)
new_tk10t = pd.DataFrame(enc.transform(tk10t).toarray())

['x0_No, did not receive any tetanus shot in the past 10 years'
 'x0_Yes, received Tdap'
 'x0_Yes, received tetanus shot but not sure what type'
 'x0_Yes, received tetanus shot, but not Tdap']

In [45]:
new_tk10t.columns = ['No, did not receive any tetanus shot in the past 10 years', 'Yes, received Tdap', 'Yes, received tetanus shot but not sure what type', 'Yes, received tetanus shot, but not Tdap']

In [46]:
df = pd.concat([df, new_tk10t], axis=1)
df.drop('TetanusLast10Tdap', axis=1, inplace=True)

In [47]:
df.isna().sum().sum()

np.int64(0)

In [48]:
df['HighRiskLastYear'].unique()

array(['No', 'Yes'], dtype=object)

In [49]:
df['HighRiskLastYear'] = df['HighRiskLastYear'].map({'No': 0, 'Yes': 1})

In [50]:
df.isna().sum().sum()

np.int64(0)

In [51]:
df['CovidPos'].unique()

array(['No', 'Yes',
       'Tested positive using home test without a health professional'],
      dtype=object)

In [52]:
df['CovidPos'] = df['CovidPos'].map({'No': 0, 'Tested positive using home test without a health professional': 1, 'Yes': 2})

In [53]:
df.isna().sum().sum()

np.int64(0)

In [54]:
df['AgeCategory'].unique()

array(['60-69', 'above 70', '50-59', '40-49', '30-39', '18-29'],
      dtype=object)

In [55]:
df.isna().sum().sum()

np.int64(0)

In [56]:
enc = OneHotEncoder(categories='auto')
age = df['AgeCategory'].values.reshape(-1, 1)
enc.fit(age)
new_features = enc.get_feature_names_out()
print(new_features)
new_age = pd.DataFrame(enc.transform(age).toarray())

['x0_18-29' 'x0_30-39' 'x0_40-49' 'x0_50-59' 'x0_60-69' 'x0_above 70']

In [57]:
new_age.columns = ['18-29', '30-39', '40-49', '50-59', '60-69', 'above70']

In [58]:
df = pd.concat([df, new_age], axis=1)
df.drop('AgeCategory', axis=1, inplace=True)

In [59]:
df.isna().sum().sum()

np.int64(0)

In [60]:
y = df['HadHeartAttack'].values
X = df.drop('HadHeartAttack', axis=1)

In [61]:
print(X.shape)
selector = VarianceThreshold(threshold=0.1)
X = selector.fit_transform(X)
print(X.shape)

(246022, 48)
(246022, 30)

In [62]:
# build mask
gender_0_mask = df['Sex'] == 0
gender_1_mask = df['Sex'] == 1

count_gender_0 = gender_0_mask.sum()
count_gender_1 = gender_1_mask.sum()

print("Female: ", count_gender_0)
print("Male: ", count_gender_1)

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_scaled_Gender_0 = X_scaled[gender_0_mask]
X_scaled_Gender_1 = X_scaled[gender_1_mask]
y_Gender_0 = y[gender_0_mask]
y_Gender_1 = y[gender_1_mask]

Female:  127811
Male:  118211

In [63]:
seed = 42
models = fl.build_models(seed)

results_list = []

kf = KFold(n_splits=5, shuffle=True, random_state=seed)

In [ ]:
print("Starting experiments for Female(0)")
fl.run_experiment(kf, models, X_scaled_Gender_0, y_Gender_0, 'Female', results_list)

print("Starting experiments for Male(1)")
fl.run_experiment(kf, models, X_scaled_Gender_1, y_Gender_1, 'Male', results_list)

final_results_df = pd.concat(results_list, ignore_index=True)
print(final_results_df)

Starting experiments for Female(0)
Processing fold 1 for group Female
Training and evaluating model: SVM

In [ ]:
results_df = pd.concat(results_list, ignore_index=True)

In [ ]:
result_path = './results/K4_result.xlsx'
results_df.to_excel(result_path, index=False)

In [ ]:
df = pd.read_excel(result_path)
df.head()

In [ ]:
label = 'Female'

fl.perform_t_tests(df, 'SVM', label)
fl.perform_t_tests(df, 'DT', label)
fl.perform_t_tests(df, 'RF', label)
fl.perform_t_tests(df, 'LR', label)
fl.perform_t_tests(df, 'KNN', label)
fl.perform_t_tests(df, 'ANN', label)
fl.perform_t_tests(df, 'NB', label)