In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("mannatpruthi/diabetes-dataset")

print("Path to dataset files:", path)

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.5), please consider upgrading to the latest version (0.3.6).
Path to dataset files: /home/morning/.cache/kagglehub/datasets/mannatpruthi/diabetes-dataset/versions/1

In [2]:
import os
os.listdir(path)

['Dataset of Diabetes .csv']

In [3]:
import pandas as pd
import fairtl_statisticaltest as fl
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [4]:
df = pd.read_csv(f'{path}/Dataset of Diabetes .csv')
df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [5]:
df.shape

(1000, 14)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1000 non-null   int64
 1   No_Pation  1000 non-null   int64
 2   Gender     1000 non-null   object
 3   AGE        1000 non-null   int64
 4   Urea       1000 non-null   float64
 5   Cr         1000 non-null   int64
 6   HbA1c      1000 non-null   float64
 7   Chol       1000 non-null   float64
 8   TG         1000 non-null   float64
 9   HDL        1000 non-null   float64
 10  LDL        1000 non-null   float64
 11  VLDL       1000 non-null   float64
 12  BMI        1000 non-null   float64
 13  CLASS      1000 non-null   object
dtypes: float64(8), int64(4), object(2)
memory usage: 109.5+ KB

In [7]:
df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [8]:
df.drop(['ID', 'No_Pation'], axis=1, inplace=True)
df.head()

  Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI CLASS
0      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
1      M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0     N
2      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
3      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
4      M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0     N

In [9]:
df['Gender'].unique()

array(['F', 'M', 'f'], dtype=object)

In [10]:
df['Gender'] = df['Gender'].replace('f', 'F')

In [11]:
df['Gender'].unique()

array(['F', 'M'], dtype=object)

In [12]:
df['CLASS'].unique()

array(['N', 'N ', 'P', 'Y', 'Y '], dtype=object)

In [13]:
df['CLASS'] = df['CLASS'].replace('N ', 'N')
df['CLASS'] = df['CLASS'].replace('Y ', 'Y')

In [14]:
df['CLASS'].unique()

array(['N', 'P', 'Y'], dtype=object)

In [15]:
df['CLASS'] = df['CLASS'].map({'N': 0, 'P': 1, 'Y':2})

In [16]:
df['CLASS'].unique()

array([0, 1, 2])

In [17]:
df.head()

  Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI  CLASS
0      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0      0
1      M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0      0
2      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0      0
3      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0      0
4      M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0      0

In [18]:
df['Gender'] = df['Gender'].map({'F': 0, 'M': 1})

In [19]:
df.head()

   Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI  CLASS
0       0   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0      0
1       1   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0      0
2       0   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0      0
3       0   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0      0
4       1   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0      0

In [20]:
y = df['CLASS'].values
X = df.drop('CLASS', axis=1)

In [21]:
print(X.shape)
selector = VarianceThreshold(threshold=0.1)
X = selector.fit_transform(X)
print(X.shape)

(1000, 11)
(1000, 11)

In [22]:
# build mask
gender_0_mask = df['Gender'] == 0
gender_1_mask = df['Gender'] == 1

count_gender_0 = gender_0_mask.sum()
count_gender_1 = gender_1_mask.sum()

print("Female: ", count_gender_0)
print("Male: ", count_gender_1)

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_scaled_Gender_0 = X_scaled[gender_0_mask]
X_scaled_Gender_1 = X_scaled[gender_1_mask]
y_Gender_0 = y[gender_0_mask]
y_Gender_1 = y[gender_1_mask]

Female:  435
Male:  565

In [23]:
seed = 42
models = fl.build_models(seed)

results_list = []

kf = KFold(n_splits=5, shuffle=True, random_state=seed)

In [24]:
print("Starting experiments for Female(0)")
fl.run_experiment(kf, models, X_scaled_Gender_0, y_Gender_0, 'Female', results_list)

print("Starting experiments for Male(1)")
fl.run_experiment(kf, models, X_scaled_Gender_1, y_Gender_1, 'Male', results_list)

final_results_df = pd.concat(results_list, ignore_index=True)
print(final_results_df)

Starting experiments for Female(0)
Processing fold 1 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training and evaluating model: NB
Processing fold 2 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training and evaluating model: NB
Processing fold 3 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training and evaluating model: NB
Processing fold 4 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training and evaluating model: NB
Processing fold 5 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training and evaluating model: NB
Starting experiments for Male(1)
Processing fold 1 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training and evaluating model: NB
Processing fold 2 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training and evaluating model: NB
Processing fold 3 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training and evaluating model: NB
Processing fold 4 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training and evaluating model: NB
Processing fold 5 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
   Fold   Group   SVM_TPR   SVM_TNR   SVM_FPR   SVM_FNR  SVM_TP  SVM_TN  \
0     1  Female  0.000000  1.000000  0.000000  1.000000       0      13
1     2  Female  0.000000  1.000000  0.000000  0.000000       0      13
2     3  Female  0.000000  1.000000  0.000000  1.000000       0       6
3     4  Female  0.000000  1.000000  0.000000  0.000000       0      13
4     5  Female  0.000000  1.000000  0.000000  1.000000       0       9
5     1    Male  0.750000  1.000000  0.000000  0.250000       3       6
6     2    Male  1.000000  1.000000  0.000000  0.000000       4       7
7     3    Male  0.666667  0.833333  0.166667  0.333333       4       5
8     4    Male  0.666667  0.750000  0.250000  0.333333       2       3
9     5    Male  0.571429  1.000000  0.000000  0.428571       4       6

   SVM_FP  SVM_FN  ...  ANN_FP  ANN_FN    NB_TPR    NB_TNR    NB_FPR  \
0       0       4  ...       0       4  0.833333  1.000000  0.000000
1       0       0  ...       0       0  1.000000  1.000000  0.000000
2       0       2  ...       0       0  0.666667  1.000000  0.000000
3       0       0  ...       1       0  1.000000  1.000000  0.000000
4       0       1  ...       0       0  1.000000  1.000000  0.000000
5       0       1  ...       2       0  1.000000  0.857143  0.142857
6       0       0  ...       1       0  0.857143  0.900000  0.100000
7       1       2  ...       1       0  1.000000  1.000000  0.000000
8       1       1  ...       2       1  1.000000  1.000000  0.000000
9       0       3  ...       0       2  1.000000  1.000000  0.000000

     NB_FNR  NB_TP  NB_TN  NB_FP  NB_FN
0  0.166667      5     14      0      1
1  0.000000      2     12      0      0
2  0.333333      2      7      0      1
3  0.000000      1     14      0      0
4  0.000000      1     11      0      0
5  0.000000      4      6      1      0
6  0.142857      6      9      1      1
7  0.000000      7      6      0      0
8  0.000000      6      5      0      0
9  0.000000      8      6      0      0

[10 rows x 58 columns]

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [25]:
results_df = pd.concat(results_list, ignore_index=True)

In [26]:
result_path = './results/K46_result.xlsx'
results_df.to_excel(result_path, index=False)

In [27]:
df = pd.read_excel(result_path)
df.head()

,Fold,Group,SVM_TPR,SVM_TNR,SVM_FPR,SVM_FNR,SVM_TP,SVM_TN,SVM_FP,SVM_FN,...,ANN_FP,ANN_FN,NB_TPR,NB_TNR,NB_FPR,NB_FNR,NB_TP,NB_TN,NB_FP,NB_FN
0,1,Female,0.0,1.0,0.0,1.0,0,13,0,4,...,0,4,0.833333,1.0,0.0,0.166667,5,14,0,1
1,2,Female,0.0,1.0,0.0,0.0,0,13,0,0,...,0,0,1.000000,1.0,0.0,0.000000,2,12,0,0
2,3,Female,0.0,1.0,0.0,1.0,0,6,0,2,...,0,0,0.666667,1.0,0.0,0.333333,2,7,0,1
3,4,Female,0.0,1.0,0.0,0.0,0,13,0,0,...,1,0,1.000000,1.0,0.0,0.000000,1,14,0,0
4,5,Female,0.0,1.0,0.0,1.0,0,9,0,1,...,0,0,1.000000,1.0,0.0,0.000000,1,11,0,0

In [28]:
label = 'Female'

fl.perform_t_tests(df, 'SVM', label)
fl.perform_t_tests(df, 'DT', label)
fl.perform_t_tests(df, 'RF', label)
fl.perform_t_tests(df, 'LR', label)
fl.perform_t_tests(df, 'KNN', label)
fl.perform_t_tests(df, 'ANN', label)
fl.perform_t_tests(df, 'NB', label)

SVM -TPR: MannwhitneyuResult(statistic=np.float64(0.0), pvalue=np.float64(0.007290358091535638))
SVM - FPR: MannwhitneyuResult(statistic=np.float64(7.5), pvalue=np.float64(0.17971249487899976))
SVM - FN/FP: MannwhitneyuResult(statistic=np.float64(13.5), pvalue=np.float64(0.9155299733767719))
DT -TPR: MannwhitneyuResult(statistic=np.float64(12.5), pvalue=np.float64(1.0))
DT - FPR: MannwhitneyuResult(statistic=np.float64(12.5), pvalue=np.float64(1.0))
DT - FN/FP: MannwhitneyuResult(statistic=np.float64(12.5), pvalue=np.float64(1.0))
RF -TPR: MannwhitneyuResult(statistic=np.float64(12.5), pvalue=np.float64(1.0))
RF - FPR: MannwhitneyuResult(statistic=np.float64(12.5), pvalue=np.float64(1.0))
RF - FN/FP: MannwhitneyuResult(statistic=np.float64(12.5), pvalue=np.float64(1.0))
LR -TPR: MannwhitneyuResult(statistic=np.float64(0.0), pvalue=np.float64(0.007290358091535638))
LR - FPR: MannwhitneyuResult(statistic=np.float64(3.0), pvalue=np.float64(0.04490858989614264))
LR - FN/FP: MannwhitneyuResult(statistic=np.float64(15.0), pvalue=np.float64(0.6674364917098825))
KNN -TPR: MannwhitneyuResult(statistic=np.float64(3.5), pvalue=np.float64(0.06607531108982745))
KNN - FPR: MannwhitneyuResult(statistic=np.float64(3.0), pvalue=np.float64(0.0441713449084426))
KNN - FN/FP: MannwhitneyuResult(statistic=np.float64(21.5), pvalue=np.float64(0.06519641907812998))
ANN -TPR: MannwhitneyuResult(statistic=np.float64(3.5), pvalue=np.float64(0.058212739779278815))
ANN - FPR: MannwhitneyuResult(statistic=np.float64(3.0), pvalue=np.float64(0.04490858989614264))
ANN - FN/FP: MannwhitneyuResult(statistic=np.float64(11.0), pvalue=np.float64(0.7971696931337416))
NB -TPR: MannwhitneyuResult(statistic=np.float64(9.0), pvalue=np.float64(0.440686016488678))
NB - FPR: MannwhitneyuResult(statistic=np.float64(7.5), pvalue=np.float64(0.17971249487899976))
NB - FN/FP: MannwhitneyuResult(statistic=np.float64(16.0), pvalue=np.float64(0.4385780260809998))