In [1]:
import pandas as pd
import fairtl_statisticaltest as fl
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv('../../Benchmark Datasets/K51.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [3]:
df.shape

(5110, 12)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [5]:
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

In [6]:
df.drop('id', inplace=True, axis=1)
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4909 entries, 0 to 4908
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4909 non-null   object
 1   age                4909 non-null   float64
 2   hypertension       4909 non-null   int64
 3   heart_disease      4909 non-null   int64
 4   ever_married       4909 non-null   object
 5   work_type          4909 non-null   object
 6   Residence_type     4909 non-null   object
 7   avg_glucose_level  4909 non-null   float64
 8   bmi                4909 non-null   float64
 9   smoking_status     4909 non-null   object
 10  stroke             4909 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 422.0+ KB

In [8]:
df['gender'].unique()

array(['Male', 'Female', 'Other'], dtype=object)

In [9]:
df = df[df['gender'] != 'Other']
df.reset_index(drop=True, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4908 entries, 0 to 4907
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4908 non-null   object
 1   age                4908 non-null   float64
 2   hypertension       4908 non-null   int64
 3   heart_disease      4908 non-null   int64
 4   ever_married       4908 non-null   object
 5   work_type          4908 non-null   object
 6   Residence_type     4908 non-null   object
 7   avg_glucose_level  4908 non-null   float64
 8   bmi                4908 non-null   float64
 9   smoking_status     4908 non-null   object
 10  stroke             4908 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 421.9+ KB

In [10]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

In [11]:
df['gender'] = df['gender'].map({'Female': 0, 'Male': 1})
df['ever_married'] = df['ever_married'].map({'No': 0, 'Yes': 1})

In [12]:
df['ever_married'].unique()

array([1, 0])

In [13]:
enc = OneHotEncoder(categories='auto')
worktype = df['work_type'].values.reshape(-1, 1)
enc.fit(worktype)
new_features = enc.get_feature_names_out()
print(new_features)
new_worktype = pd.DataFrame(enc.transform(worktype).toarray())

['x0_Govt_job' 'x0_Never_worked' 'x0_Private' 'x0_Self-employed'
 'x0_children']

In [14]:
new_worktype.columns = ['Govt_job', 'Never_worked', 'Private', 'Self-employed', 'children']

In [15]:
df = pd.concat([df, new_worktype], axis=1)
df.drop('work_type', axis=1, inplace=True)

In [16]:
enc2 = OneHotEncoder(categories='auto')
residence = df['Residence_type'].values.reshape(-1, 1)
enc2.fit(residence)
new_features = enc2.get_feature_names_out()
print(new_features)
new_residence = pd.DataFrame(enc2.transform(residence).toarray())

['x0_Rural' 'x0_Urban']

In [17]:
new_residence.columns = ['Rural', 'Urban']

In [18]:
df = pd.concat([df, new_residence], axis=1)
df.drop('Residence_type', axis=1, inplace=True)

In [19]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,avg_glucose_level,bmi,smoking_status,stroke,Govt_job,Never_worked,Private,Self-employed,children,Rural,Urban
0,1,67.0,0,1,1,228.69,36.6,formerly smoked,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,1,80.0,0,1,1,105.92,32.5,never smoked,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0,49.0,0,0,1,171.23,34.4,smokes,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0,79.0,1,0,1,174.12,24.0,never smoked,1,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,1,81.0,0,0,1,186.21,29.0,formerly smoked,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [20]:
df['smoking_status'].unique()

array(['formerly smoked', 'never smoked', 'smokes', 'Unknown'],
      dtype=object)

In [21]:
df['smoking_status'] = df['smoking_status'].map({'Unknown': 0, 'never smoked': 1, 'formerly smoked': 2, 'smokes': 3})

In [22]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,avg_glucose_level,bmi,smoking_status,stroke,Govt_job,Never_worked,Private,Self-employed,children,Rural,Urban
0,1,67.0,0,1,1,228.69,36.6,2,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,1,80.0,0,1,1,105.92,32.5,1,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0,49.0,0,0,1,171.23,34.4,3,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0,79.0,1,0,1,174.12,24.0,1,1,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,1,81.0,0,0,1,186.21,29.0,2,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [23]:
y = df['stroke'].values
X = df.drop('stroke', axis=1)

In [24]:
print(X.shape)
selector = VarianceThreshold(threshold=0.1)
X = selector.fit_transform(X)
print(X.shape)

(4908, 15)
(4908, 12)

In [25]:
# build mask
gender_0_mask = df['gender'] == 0
gender_1_mask = df['gender'] == 1

count_gender_0 = gender_0_mask.sum()
count_gender_1 = gender_1_mask.sum()

print("Female: ", count_gender_0)
print("Male: ", count_gender_1)

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_scaled_Gender_0 = X_scaled[gender_0_mask]
X_scaled_Gender_1 = X_scaled[gender_1_mask]
y_Gender_0 = y[gender_0_mask]
y_Gender_1 = y[gender_1_mask]

Female:  2897
Male:  2011

In [26]:
seed = 42
models = fl.build_models(seed)

results_list = []

kf = KFold(n_splits=10, shuffle=True, random_state=seed)

In [27]:
print("Starting experiments for Female(0)")
fl.run_experiment(kf, models, X_scaled_Gender_0, y_Gender_0, 'Female', results_list)

print("Starting experiments for Male(1)")
fl.run_experiment(kf, models, X_scaled_Gender_1, y_Gender_1, 'Male', results_list)

final_results_df = pd.concat(results_list, ignore_index=True)
print(final_results_df)

Starting experiments for Female(0)
Processing fold 1 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training and evaluating model: NB
Processing fold 2 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 3 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 4 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 5 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 6 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 7 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 8 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training and evaluating model: NB
Processing fold 9 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training and evaluating model: NB
Processing fold 10 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Starting experiments for Male(1)
Processing fold 1 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 2 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 3 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training and evaluating model: NB
Processing fold 4 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 5 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 6 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 7 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN

/home/morning/miniconda3/envs/f2ml/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training and evaluating model: NB
Processing fold 8 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 9 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 10 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
    Fold   Group  SVM_TPR  SVM_TNR  SVM_FPR  SVM_FNR  SVM_TP  SVM_TN  SVM_FP  \
0      1  Female      0.0      1.0      0.0      1.0       0     278       0
1      2  Female      0.0      1.0      0.0      1.0       0     281       0
2      3  Female      0.0      1.0      0.0      1.0       0     281       0
3      4  Female      0.0      1.0      0.0      1.0       0     277       0
4      5  Female      0.0      1.0      0.0      1.0       0     280       0
5      6  Female      0.0      1.0      0.0      1.0       0     277       0
6      7  Female      0.0      1.0      0.0      1.0       0     279       0
7      8  Female      0.0      1.0      0.0      1.0       0     268       0
8      9  Female      0.0      1.0      0.0      1.0       0     274       0
9     10  Female      0.0      1.0      0.0      1.0       0     282       0
10     1    Male      0.0      1.0      0.0      1.0       0     197       0
11     2    Male      0.0      1.0      0.0      1.0       0     188       0
12     3    Male      0.0      1.0      0.0      1.0       0     195       0
13     4    Male      0.0      1.0      0.0      1.0       0     191       0
14     5    Male      0.0      1.0      0.0      1.0       0     196       0
15     6    Male      0.0      1.0      0.0      1.0       0     182       0
16     7    Male      0.0      1.0      0.0      1.0       0     192       0
17     8    Male      0.0      1.0      0.0      1.0       0     192       0
18     9    Male      0.0      1.0      0.0      1.0       0     196       0
19    10    Male      0.0      1.0      0.0      1.0       0     193       0

    SVM_FN  ...  ANN_FP  ANN_FN    NB_TPR    NB_TNR    NB_FPR    NB_FNR  \
0       12  ...       0      12  0.500000  0.848921  0.151079  0.500000
1        9  ...       1       9  0.222222  0.857651  0.142349  0.777778
2        9  ...       0       9  0.222222  0.818505  0.181495  0.777778
3       13  ...       0      13  0.384615  0.906137  0.093863  0.615385
4       10  ...       0      10  0.100000  0.878571  0.121429  0.900000
5       13  ...       0      13  0.692308  0.848375  0.151625  0.307692
6       11  ...       0      11  0.636364  0.863799  0.136201  0.363636
7       21  ...       0      21  0.952381  0.208955  0.791045  0.047619
8       15  ...       0      15  0.466667  0.850365  0.149635  0.533333
9        7  ...       0       7  0.571429  0.886525  0.113475  0.428571
10       5  ...       0       5  1.000000  0.375635  0.624365  0.000000
11      13  ...       0      13  1.000000  0.382979  0.617021  0.000000
12       6  ...       2       6  1.000000  0.343590  0.656410  0.000000
13      10  ...       0      10  1.000000  0.335079  0.664921  0.000000
14       5  ...       2       5  1.000000  0.346939  0.653061  0.000000
15      19  ...       0      19  1.000000  0.379121  0.620879  0.000000
16       9  ...       1       9  1.000000  0.322917  0.677083  0.000000
17       9  ...       2       9  1.000000  0.406250  0.593750  0.000000
18       5  ...       0       5  1.000000  0.306122  0.693878  0.000000
19       8  ...       0       8  0.875000  0.305699  0.694301  0.125000

    NB_TP  NB_TN  NB_FP  NB_FN
0       6    236     42      6
1       2    241     40      7
2       2    230     51      7
3       5    251     26      8
4       1    246     34      9
5       9    235     42      4
6       7    241     38      4
7      20     56    212      1
8       7    233     41      8
9       4    250     32      3
10      5     74    123      0
11     13     72    116      0
12      6     67    128      0
13     10     64    127      0
14      5     68    128      0
15     19     69    113      0
16      9     62    130      0
17      9     78    114      0
18      5     60    136      0
19      7     59    134      1

[20 rows x 58 columns]

In [28]:
results_df = pd.concat(results_list, ignore_index=True)

In [29]:
result_path = './results/K51_result.xlsx'
results_df.to_excel(result_path, index=False)

In [30]:
df = pd.read_excel(result_path)
df.head()

,Fold,Group,SVM_TPR,SVM_TNR,SVM_FPR,SVM_FNR,SVM_TP,SVM_TN,SVM_FP,SVM_FN,...,ANN_FP,ANN_FN,NB_TPR,NB_TNR,NB_FPR,NB_FNR,NB_TP,NB_TN,NB_FP,NB_FN
0,1,Female,0,1,0,1,0,278,0,12,...,0,12,0.500000,0.848921,0.151079,0.500000,6,236,42,6
1,2,Female,0,1,0,1,0,281,0,9,...,1,9,0.222222,0.857651,0.142349,0.777778,2,241,40,7
2,3,Female,0,1,0,1,0,281,0,9,...,0,9,0.222222,0.818505,0.181495,0.777778,2,230,51,7
3,4,Female,0,1,0,1,0,277,0,13,...,0,13,0.384615,0.906137,0.093863,0.615385,5,251,26,8
4,5,Female,0,1,0,1,0,280,0,10,...,0,10,0.100000,0.878571,0.121429,0.900000,1,246,34,9

In [31]:
label = 'Female'

fl.perform_t_tests(df, 'SVM', label)
fl.perform_t_tests(df, 'DT', label)
fl.perform_t_tests(df, 'RF', label)
fl.perform_t_tests(df, 'LR', label)
fl.perform_t_tests(df, 'KNN', label)
fl.perform_t_tests(df, 'ANN', label)
fl.perform_t_tests(df, 'NB', label)

SVM -TPR: MannwhitneyuResult(statistic=np.float64(50.0), pvalue=np.float64(1.0))
SVM - FPR: MannwhitneyuResult(statistic=np.float64(50.0), pvalue=np.float64(1.0))
SVM - FN/FP: MannwhitneyuResult(statistic=np.float64(75.5), pvalue=np.float64(0.05697957458747599))
DT -TPR: TtestResult(statistic=np.float64(-0.16351100719742523), pvalue=np.float64(0.871937992201108), df=np.float64(18.0))
DT - FPR: TtestResult(statistic=np.float64(-1.9435852102701092), pvalue=np.float64(0.06774899152556994), df=np.float64(18.0))
DT - FN/FP: MannwhitneyuResult(statistic=np.float64(68.5), pvalue=np.float64(0.17329374316974477))
RF -TPR: MannwhitneyuResult(statistic=np.float64(50.5), pvalue=np.float64(1.0))
RF - FPR: MannwhitneyuResult(statistic=np.float64(36.0), pvalue=np.float64(0.20807314011189448))
RF - FN/FP: TtestResult(statistic=np.float64(1.5332261786648664), pvalue=np.float64(0.1426084464668646), df=np.float64(18.0))
LR -TPR: MannwhitneyuResult(statistic=np.float64(45.0), pvalue=np.float64(0.36812025069351895))
LR - FPR: MannwhitneyuResult(statistic=np.float64(50.0), pvalue=np.float64(1.0))
LR - FN/FP: MannwhitneyuResult(statistic=np.float64(77.0), pvalue=np.float64(0.04378552230572362))
KNN -TPR: MannwhitneyuResult(statistic=np.float64(45.0), pvalue=np.float64(0.36812025069351895))
KNN - FPR: MannwhitneyuResult(statistic=np.float64(53.0), pvalue=np.float64(0.8245106458719222))
KNN - FN/FP: MannwhitneyuResult(statistic=np.float64(55.0), pvalue=np.float64(0.7331503112076126))
ANN -TPR: MannwhitneyuResult(statistic=np.float64(50.0), pvalue=np.float64(1.0))
ANN - FPR: MannwhitneyuResult(statistic=np.float64(33.0), pvalue=np.float64(0.10116105881500473))
ANN - FN/FP: TtestResult(statistic=np.float64(1.8964189879397664), pvalue=np.float64(0.07407222702251988), df=np.float64(18.0))
NB -TPR: MannwhitneyuResult(statistic=np.float64(1.0), pvalue=np.float64(0.00012038262019505224))
NB - FPR: MannwhitneyuResult(statistic=np.float64(10.0), pvalue=np.float64(0.0028272720911168077))
NB - FN/FP: MannwhitneyuResult(statistic=np.float64(99.0), pvalue=np.float64(0.00012116531050337443))