In [10]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("imnikhilanand/heart-attack-prediction")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.5), please consider upgrading to the latest version (0.3.6).
Path to dataset files: /home/morning/.cache/kagglehub/datasets/imnikhilanand/heart-attack-prediction/versions/1

In [11]:
import os
os.listdir(path)

['data.csv']

In [12]:
import pandas as pd
import fairtl_statisticaltest as fl
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [13]:
df = pd.read_csv(f'{path}/data.csv', encoding='utf-8')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28,1,2,130,132,0,2,185,0,0.0,?,?,?,0
1,29,1,2,120,243,0,0,160,0,0.0,?,?,?,0
2,29,1,2,140,?,0,0,170,0,0.0,?,?,?,0
3,30,0,1,170,237,0,1,170,0,0.0,?,?,6,0
4,31,0,2,100,219,0,1,150,0,0.0,?,?,?,0

In [14]:
df.shape

(294, 14)

In [15]:
df = df.drop_duplicates().reset_index(drop=True)

In [16]:
df['ca'].value_counts()

ca
?    290
0      3
Name: count, dtype: int64

In [17]:
df['slope'].value_counts()

slope
?    189
2     91
1     12
3      1
Name: count, dtype: int64