In [209]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
hepatitis = fetch_ucirepo(id=46) 
  
# data (as pandas dataframes) 
X = hepatitis.data.features 
y = hepatitis.data.targets 
  
# metadata 
print(hepatitis.metadata) 
  
# variable information 
print(hepatitis.variables)

{'uci_id': 46, 'name': 'Hepatitis', 'repository_url': 'https://archive.ics.uci.edu/dataset/46/hepatitis', 'data_url': 'https://archive.ics.uci.edu/static/public/46/data.csv', 'abstract': 'From G.Gong: CMU; Mostly Boolean or numeric-valued attribute types; Includes cost data (donated by Peter Turney)', 'area': 'Health and Medicine', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 155, 'num_features': 19, 'feature_types': ['Categorical', 'Integer', 'Real'], 'demographics': [], 'target_col': ['Class'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1983, 'last_updated': 'Fri Nov 03 2023', 'dataset_doi': '10.24432/C5Q59J', 'creators': [], 'intro_paper': None, 'additional_info': {'summary': 'Please ask Gail Gong for further information on this database.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': '     1. Class: DIE, LIVE\r\n     2. AGE: 10, 20, 30, 40, 50, 60, 70, 80\r\n     3. SEX: male, female\r\n     4. STEROID: no, yes\r\n     5. ANTIVIRALS: no, yes\r\n     6. FATIGUE: no, yes\r\n     7. MALAISE: no, yes\r\n     8. ANOREXIA: no, yes\r\n     9. LIVER BIG: no, yes\r\n    10. LIVER FIRM: no, yes\r\n    11. SPLEEN PALPABLE: no, yes\r\n    12. SPIDERS: no, yes\r\n    13. ASCITES: no, yes\r\n    14. VARICES: no, yes\r\n    15. BILIRUBIN: 0.39, 0.80, 1.20, 2.00, 3.00, 4.00\r\n        -- see the note below\r\n    16. ALK PHOSPHATE: 33, 80, 120, 160, 200, 250\r\n    17. SGOT: 13, 100, 200, 300, 400, 500, \r\n    18. ALBUMIN: 2.1, 3.0, 3.8, 4.5, 5.0, 6.0\r\n    19. PROTIME: 10, 20, 30, 40, 50, 60, 70, 80, 90\r\n    20. HISTOLOGY: no, yes\r\n\r\nThe BILIRUBIN attribute appears to be continuously-valued.  I checked this with the donater, Bojan Cestnik, who replied:\r\n\r\n About the hepatitis database and BILIRUBIN problem I would like to say the following: BILIRUBIN is continuous attribute (= the number of it\'s "values" in the ASDOHEPA.DAT file is negative!!!); "values" are quoted because when speaking about the continuous attribute there is no such thing as all possible values. However, they represent so called "boundary" values; according to these "boundary" values the attribute can be discretized. At the same time, because of the continious attribute, one can perform some other test since the continuous information is preserved. I hope that these lines have at least roughly answered your question. ', 'citation': None}}
               name     role         type demographic description units  \
0             Class   Target  Categorical        None        None  None
1               Age  Feature      Integer        None        None  None
2               Sex  Feature  Categorical        None        None  None
3           Steroid  Feature  Categorical        None        None  None
4        Antivirals  Feature  Categorical        None        None  None
5           Fatigue  Feature  Categorical        None        None  None
6           Malaise  Feature  Categorical        None        None  None
7          Anorexia  Feature  Categorical        None        None  None
8         Liver Big  Feature  Categorical        None        None  None
9        Liver Firm  Feature  Categorical        None        None  None
10  Spleen Palpable  Feature  Categorical        None        None  None
11          Spiders  Feature  Categorical        None        None  None
12          Ascites  Feature  Categorical        None        None  None
13          Varices  Feature  Categorical        None        None  None
14        Bilirubin  Feature   Continuous        None        None  None
15    Alk Phosphate  Feature      Integer        None        None  None
16             Sgot  Feature      Integer        None        None  None
17          Albumin  Feature      Integer        None        None  None
18          Protime  Feature      Integer        None        None  None
19        Histology  Feature      Integer        None        None  None

   missing_values
0              no
1              no
2              no
3             yes
4              no
5             yes
6             yes
7             yes
8             yes
9             yes
10            yes
11            yes
12            yes
13            yes
14            yes
15            yes
16            yes
17            yes
18            yes
19             no

In [210]:
import pandas as pd

feature = pd.DataFrame(X)
feature.head()
target = pd.DataFrame(y)
df = pd.concat([feature, target], axis=1)
df.head()

,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver Big,Liver Firm,Spleen Palpable,Spiders,Ascites,Varices,Bilirubin,Alk Phosphate,Sgot,Albumin,Protime,Histology,Class
0,30,2,1.0,2,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,85.0,18.0,4.0,NaN,1,2
1,50,1,1.0,2,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,0.9,135.0,42.0,3.5,NaN,1,2
2,78,1,2.0,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,96.0,32.0,4.0,NaN,1,2
3,31,1,NaN,1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,46.0,52.0,4.0,80.0,1,2
4,34,1,2.0,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,NaN,200.0,4.0,NaN,1,2

In [211]:

import fairtl_statisticaltest as fl
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import StratifiedKFold

In [212]:
female_df = df[df['Sex'] == 2]
female_df['Class'].unique()

array([2])

In [213]:
df.shape

(155, 20)

In [214]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              155 non-null    int64
 1   Sex              155 non-null    int64
 2   Steroid          154 non-null    float64
 3   Antivirals       155 non-null    int64
 4   Fatigue          154 non-null    float64
 5   Malaise          154 non-null    float64
 6   Anorexia         154 non-null    float64
 7   Liver Big        145 non-null    float64
 8   Liver Firm       144 non-null    float64
 9   Spleen Palpable  150 non-null    float64
 10  Spiders          150 non-null    float64
 11  Ascites          150 non-null    float64
 12  Varices          150 non-null    float64
 13  Bilirubin        149 non-null    float64
 14  Alk Phosphate    126 non-null    float64
 15  Sgot             151 non-null    float64
 16  Albumin          139 non-null    float64
 17  Protime          88 non-null     float64
 18  Histology        155 non-null    int64
 19  Class            155 non-null    int64
dtypes: float64(15), int64(5)
memory usage: 24.3 KB

In [215]:
df.drop(['Protime', 'Alk Phosphate'], axis=1, inplace=True)
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              129 non-null    int64
 1   Sex              129 non-null    int64
 2   Steroid          129 non-null    float64
 3   Antivirals       129 non-null    int64
 4   Fatigue          129 non-null    float64
 5   Malaise          129 non-null    float64
 6   Anorexia         129 non-null    float64
 7   Liver Big        129 non-null    float64
 8   Liver Firm       129 non-null    float64
 9   Spleen Palpable  129 non-null    float64
 10  Spiders          129 non-null    float64
 11  Ascites          129 non-null    float64
 12  Varices          129 non-null    float64
 13  Bilirubin        129 non-null    float64
 14  Sgot             129 non-null    float64
 15  Albumin          129 non-null    float64
 16  Histology        129 non-null    int64
 17  Class            129 non-null    int64
dtypes: float64(13), int64(5)
memory usage: 18.3 KB

In [216]:
a = df['Sex'].unique()
a

array([2, 1])

In [217]:
df['Sex'] = df['Sex'].map({a[0]: 0, a[1]: 1})
df['Sex'].unique()

array([0, 1])

In [218]:
df['Class'].unique()

array([2, 1])

In [219]:
tmp = df['Class'].unique()
df['Class'] = df['Class'].map({tmp[0]: 0, tmp[1]:1})

In [220]:
df['Class'].unique()

array([0, 1])

In [221]:
female_df = df[df['Sex'] == 0]
female_df['Class'].unique()

array([0])

In [222]:
y = df['Class'].values
X = df.drop('Class', axis=1)

In [223]:
print(X.shape)
selector = VarianceThreshold(threshold=0.1)
X = selector.fit_transform(X)
print(X.shape)

(129, 17)
(129, 16)

In [224]:
# build mask
gender_0_mask = df['Sex'] == 0
gender_1_mask = df['Sex'] == 1

count_gender_0 = gender_0_mask.sum()
count_gender_1 = gender_1_mask.sum()

print("Female: ", count_gender_0)
print("Male: ", count_gender_1)

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_scaled_Gender_0 = X_scaled[gender_0_mask]
X_scaled_Gender_1 = X_scaled[gender_1_mask]
y_Gender_0 = y[gender_0_mask]
y_Gender_1 = y[gender_1_mask]

Female:  13
Male:  116

In [225]:
seed = 42
models = fl.build_models(seed)

results_list = []

kf = StratifiedKFold(n_splits=5, shuffle=True, random_state=seed)

In [226]:
print("Starting experiments for Female(0)")
fl.run_experiment(kf, models, X_scaled_Gender_0, y_Gender_0, 'Female', results_list)

print("Starting experiments for Male(1)")
fl.run_experiment(kf, models, X_scaled_Gender_1, y_Gender_1, 'Male', results_list)

final_results_df = pd.concat(results_list, ignore_index=True)
print(final_results_df)

Starting experiments for Female(0)
Processing fold 1 for group Female
Training and evaluating model: SVM

ValueError: The number of classes has to be greater than one; got 1 class

In [ ]:
results_df = pd.concat(results_list, ignore_index=True)

In [ ]:
result_path = './results/U1_result.xlsx'
results_df.to_excel(result_path, index=False)

In [ ]:
df = pd.read_excel(result_path)
df.head()

In [ ]:
label = 'Female'

fl.perform_t_tests(df, 'SVM', label)
fl.perform_t_tests(df, 'DT', label)
fl.perform_t_tests(df, 'RF', label)
fl.perform_t_tests(df, 'LR', label)
fl.perform_t_tests(df, 'KNN', label)
fl.perform_t_tests(df, 'ANN', label)