In [1]:
import pandas as pd
import fairtl as fl
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv('/mnt/c/Users/Morning/Desktop/MORNING_NEXT/parkinson+s+disease+classification/pd_speech_features/pd_speech_features.csv')

In [3]:
df.head(10)

,id,gender,PPE,DFA,RPDE,numPulses,numPeriodsPulses,meanPeriodPulses,stdDevPeriodPulses,locPctJitter,...,tqwt_kurtosisValue_dec_28,tqwt_kurtosisValue_dec_29,tqwt_kurtosisValue_dec_30,tqwt_kurtosisValue_dec_31,tqwt_kurtosisValue_dec_32,tqwt_kurtosisValue_dec_33,tqwt_kurtosisValue_dec_34,tqwt_kurtosisValue_dec_35,tqwt_kurtosisValue_dec_36,class
0,0,1,0.85247,0.71826,0.57227,240,239,0.008064,0.000087,0.00218,...,1.5620,2.6445,3.8686,4.2105,5.1221,4.4625,2.6202,3.0004,18.9405,1
1,0,1,0.76686,0.69481,0.53966,234,233,0.008258,0.000073,0.00195,...,1.5589,3.6107,23.5155,14.1962,11.0261,9.5082,6.5245,6.3431,45.1780,1
2,0,1,0.85083,0.67604,0.58982,232,231,0.008340,0.000060,0.00176,...,1.5643,2.3308,9.4959,10.7458,11.0177,4.8066,2.9199,3.1495,4.7666,1
3,1,0,0.41121,0.79672,0.59257,178,177,0.010858,0.000183,0.00419,...,3.7805,3.5664,5.2558,14.0403,4.2235,4.6857,4.8460,6.2650,4.0603,1
4,1,0,0.32790,0.79782,0.53028,236,235,0.008162,0.002669,0.00535,...,6.1727,5.8416,6.0805,5.7621,7.7817,11.6891,8.2103,5.0559,6.1164,1
5,1,0,0.50780,0.78744,0.65451,226,221,0.007631,0.002696,0.00783,...,4.8025,5.0734,7.0166,5.9966,5.2065,7.4246,3.4153,3.5046,3.2250,1
6,2,1,0.76095,0.62145,0.54543,322,321,0.005991,0.000107,0.00222,...,117.2678,75.3156,32.0478,7.7060,3.1060,4.6206,12.8353,13.8300,7.7693,1
7,2,1,0.83671,0.62079,0.51179,318,317,0.006074,0.000136,0.00282,...,3.8564,11.8909,7.2891,4.3682,3.6443,5.9610,11.7552,18.0927,5.0448,1
8,2,1,0.80826,0.61766,0.50447,318,317,0.006057,0.000069,0.00161,...,2.2640,6.3993,4.4165,4.2662,3.6357,3.7346,2.9394,3.6216,3.8430,1
9,3,0,0.85302,0.62247,0.54855,493,492,0.003910,0.000040,0.00075,...,1.6796,2.0474,2.8117,3.5070,3.2727,3.8415,3.9439,5.8807,38.7211,1

In [4]:
df.shape

(756, 755)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Columns: 755 entries, id to class
dtypes: float64(749), int64(6)
memory usage: 4.4 MB

In [6]:
df.isna().sum().sum()

np.int64(0)

In [7]:
df['gender'].unique()

array([1, 0])

In [8]:
y = df['class'].values
X = df.drop('class', axis=1)

In [9]:
print(X.shape)
selector = VarianceThreshold(threshold=0.1)
X = selector.fit_transform(X)
print(X.shape)

(756, 754)
(756, 340)

In [10]:
# build mask
gender_0_mask = df['gender'] == 0
gender_1_mask = df['gender'] == 1

count_gender_0 = gender_0_mask.sum()
count_gender_1 = gender_1_mask.sum()

print("Female: ", count_gender_0)
print("Male: ", count_gender_1)

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_scaled_Gender_0 = X_scaled[gender_0_mask]
X_scaled_Gender_1 = X_scaled[gender_1_mask]
y_Gender_0 = y[gender_0_mask]
y_Gender_1 = y[gender_1_mask]

Female:  366
Male:  390

In [11]:
seed = 42
models = fl.build_models(seed)

results_list = []

kf = KFold(n_splits=5, shuffle=True, random_state=seed)

In [12]:
print("Starting experiments for Female(0)")
fl.run_experiment(kf, models, X_scaled_Gender_0, y_Gender_0, 'Female', results_list)

print("Starting experiments for Male(1)")
fl.run_experiment(kf, models, X_scaled_Gender_1, y_Gender_1, 'Male', results_list)

final_results_df = pd.concat(results_list, ignore_index=True)
print(final_results_df)

Starting experiments for Female(0)
Processing fold 1 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 2 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 3 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 4 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 5 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Starting experiments for Male(1)
Processing fold 1 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 2 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 3 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 4 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 5 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
   Fold   Group   SVM_TPR   SVM_TNR   SVM_FPR   SVM_FNR  SVM_TP  SVM_TN  \
0     1  Female  0.913043  0.607143  0.392857  0.086957      42      17
1     2  Female  0.980392  0.681818  0.318182  0.019608      50      15
2     3  Female  0.938776  0.500000  0.500000  0.061224      46      12
3     4  Female  0.958333  0.520000  0.480000  0.041667      46      13
4     5  Female  0.959184  0.708333  0.291667  0.040816      47      17
5     1    Male  1.000000  0.055556  0.944444  0.000000      60       1
6     2    Male  1.000000  0.153846  0.846154  0.000000      65       2
7     3    Male  1.000000  0.066667  0.933333  0.000000      63       1
8     4    Male  1.000000  0.153846  0.846154  0.000000      65       2
9     5    Male  1.000000  0.000000  1.000000  0.000000      68       0

   SVM_FP  SVM_FN  ...  ANN_FP  ANN_FN    NB_TPR    NB_TNR    NB_FPR  \
0      11       4  ...       5       3  0.543478  0.857143  0.142857
1       7       1  ...       4       4  0.450980  0.954545  0.045455
2      12       3  ...       4       3  0.591837  0.625000  0.375000
3      12       2  ...       4       4  0.562500  0.800000  0.200000
4       7       2  ...       6       3  0.571429  0.875000  0.125000
5      17       0  ...       6       5  0.833333  0.333333  0.666667
6      11       0  ...       5       2  0.907692  0.538462  0.461538
7      14       0  ...       2       2  0.920635  0.333333  0.666667
8      11       0  ...       3       6  0.876923  0.307692  0.692308
9      10       0  ...       4       4  0.955882  0.100000  0.900000

     NB_FNR  NB_TP  NB_TN  NB_FP  NB_FN
0  0.456522     25     24      4     21
1  0.549020     23     21      1     28
2  0.408163     29     15      9     20
3  0.437500     27     20      5     21
4  0.428571     28     21      3     21
5  0.166667     50      6     12     10
6  0.092308     59      7      6      6
7  0.079365     58      5     10      5
8  0.123077     57      4      9      8
9  0.044118     65      1      9      3

[10 rows x 58 columns]

In [13]:
results_df = pd.concat(results_list, ignore_index=True)

In [14]:
result_path = './results/u16_result.xlsx'
results_df.to_excel(result_path, index=False)

In [15]:
df = pd.read_excel(result_path)
df.head()

,Fold,Group,SVM_TPR,SVM_TNR,SVM_FPR,SVM_FNR,SVM_TP,SVM_TN,SVM_FP,SVM_FN,...,ANN_FP,ANN_FN,NB_TPR,NB_TNR,NB_FPR,NB_FNR,NB_TP,NB_TN,NB_FP,NB_FN
0,1,Female,0.913043,0.607143,0.392857,0.086957,42,17,11,4,...,5,3,0.543478,0.857143,0.142857,0.456522,25,24,4,21
1,2,Female,0.980392,0.681818,0.318182,0.019608,50,15,7,1,...,4,4,0.450980,0.954545,0.045455,0.549020,23,21,1,28
2,3,Female,0.938776,0.500000,0.500000,0.061224,46,12,12,3,...,4,3,0.591837,0.625000,0.375000,0.408163,29,15,9,20
3,4,Female,0.958333,0.520000,0.480000,0.041667,46,13,12,2,...,4,4,0.562500,0.800000,0.200000,0.437500,27,20,5,21
4,5,Female,0.959184,0.708333,0.291667,0.040816,47,17,7,2,...,6,3,0.571429,0.875000,0.125000,0.428571,28,21,3,21

In [16]:
label = 'Female'

fl.perform_t_tests(df, 'SVM', label)
fl.perform_t_tests(df, 'DT', label)
fl.perform_t_tests(df, 'RF', label)
fl.perform_t_tests(df, 'LR', label)
fl.perform_t_tests(df, 'KNN', label)
fl.perform_t_tests(df, 'ANN', label)
fl.perform_t_tests(df, 'NB', label)

SVM -TPR: MannwhitneyuResult(statistic=np.float64(0.0), pvalue=np.float64(0.007494957516935239))
SVM - FPR: TtestResult(statistic=np.float64(-10.078583269082642), pvalue=np.float64(8.0061007625963e-06), df=np.float64(8.0))
SVM - FN/FP: MannwhitneyuResult(statistic=np.float64(25.0), pvalue=np.float64(0.007494957516935239))
DT -TPR: TtestResult(statistic=np.float64(-1.4809122085403232), pvalue=np.float64(0.17690405470232157), df=np.float64(8.0))
DT - FPR: TtestResult(statistic=np.float64(-0.5029999694813726), pvalue=np.float64(0.6285175877470416), df=np.float64(8.0))
DT - FN/FP: TtestResult(statistic=np.float64(-2.0098409035581866), pvalue=np.float64(0.07929774171354113), df=np.float64(8.0))
RF -TPR: MannwhitneyuResult(statistic=np.float64(0.0), pvalue=np.float64(0.009700785068229596))
RF - FPR: TtestResult(statistic=np.float64(-8.955288299929721), pvalue=np.float64(1.922198468685586e-05), df=np.float64(8.0))
RF - FN/FP: MannwhitneyuResult(statistic=np.float64(25.0), pvalue=np.float64(0.009700785068229596))
LR -TPR: TtestResult(statistic=np.float64(-2.2162216235463914), pvalue=np.float64(0.05752011676763126), df=np.float64(8.0))
LR - FPR: TtestResult(statistic=np.float64(-4.350531955286029), pvalue=np.float64(0.0024435296450568736), df=np.float64(8.0))
LR - FN/FP: TtestResult(statistic=np.float64(0.5094121407852394), pvalue=np.float64(0.6242143918254799), df=np.float64(8.0))
KNN -TPR: TtestResult(statistic=np.float64(-1.5386748358240174), pvalue=np.float64(0.16244428007435563), df=np.float64(8.0))
KNN - FPR: TtestResult(statistic=np.float64(-5.37551692460535), pvalue=np.float64(0.0006651953490824665), df=np.float64(8.0))
KNN - FN/FP: TtestResult(statistic=np.float64(1.3682512395455944), pvalue=np.float64(0.20842434146191247), df=np.float64(8.0))
ANN -TPR: TtestResult(statistic=np.float64(-0.7748047589452662), pvalue=np.float64(0.46073979482425365), df=np.float64(8.0))
ANN - FPR: MannwhitneyuResult(statistic=np.float64(6.0), pvalue=np.float64(0.2222222222222222))
ANN - FN/FP: TtestResult(statistic=np.float64(-0.9828164685474869), pvalue=np.float64(0.3544830000337657), df=np.float64(8.0))
NB -TPR: TtestResult(statistic=np.float64(-11.052774958464916), pvalue=np.float64(4.001501293218266e-06), df=np.float64(8.0))
NB - FPR: TtestResult(statistic=np.float64(-5.631732174620245), pvalue=np.float64(0.0004917414366426942), df=np.float64(8.0))
NB - FN/FP: MannwhitneyuResult(statistic=np.float64(25.0), pvalue=np.float64(0.007936507936507936))