In [4]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
sepsis_survival_minimal_clinical_records = fetch_ucirepo(id=827) 
  
# data (as pandas dataframes) 
X = sepsis_survival_minimal_clinical_records.data.features 
y = sepsis_survival_minimal_clinical_records.data.targets 
  
# metadata 
print(sepsis_survival_minimal_clinical_records.metadata) 
  
# variable information 
print(sepsis_survival_minimal_clinical_records.variables)

{'uci_id': 827, 'name': 'Sepsis Survival Minimal Clinical Records', 'repository_url': 'https://archive.ics.uci.edu/dataset/827/sepsis+survival+minimal+clinical+records', 'data_url': 'https://archive.ics.uci.edu/static/public/827/data.csv', 'abstract': 'The dataset consists of 110,204 admissions of 84,811 hospitalized subjects between 2011 and 2012 in Norway who were diagnosed with infections, systemic inflammatory response syndrome, sepsis by causative microbes, or septic shock.  The prediction task is to determine whether a patient survived or is deceased at a time of about 9 days after collecting their medical record at the hospital.\n\nThis is an important prediction problem in clinical medicine. Sepsis is a life-threatening condition triggered by an immune overreaction to infection, leading to organ failure or even death. Sepsis is associated with immediate death risk, often killing patients within one hour. This renders many laboratory tests and hospital analyses impractical for timely diagnosis and treatment. Being able to predict the survival of patients within minutes with as few and easy-to-retrieve medical features as possible is very important.', 'area': 'Health and Medicine', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 110341, 'num_features': 3, 'feature_types': ['Integer'], 'demographics': ['Age', 'Gender'], 'target_col': ['hospital_outcome_1alive_0dead'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2020, 'last_updated': 'Fri Nov 03 2023', 'dataset_doi': '10.24432/C53C8N', 'creators': ['Davide Chicco', 'Giuseppe Jurman'], 'intro_paper': {'ID': 223, 'type': 'NATIVE', 'title': 'Survival prediction of patients with sepsis from age, sex, and septic episode number alone', 'authors': 'D. Chicco, Giuseppe Jurman', 'venue': 'Scientific Reports 10', 'year': 2020, 'journal': None, 'DOI': '10.1038/s41598-020-73558-3', 'URL': 'https://www.nature.com/articles/s41598-020-73558-3', 'sha': None, 'corpus': None, 'arxiv': None, 'mag': None, 'acl': None, 'pmid': None, 'pmcid': None}, 'additional_info': {'summary': "Primary cohort from Norway:\n- 4 features for 110,204 patient admissions\n- file: 's41598-020-73558-3_sepsis_survival_primary_cohort.csv'\n\nStudy cohort (a subset of the primary cohort) from Norway:\n- 4 features for 19,051 patient admissions\n- file: 's41598-020-73558-3_sepsis_survival_study_cohort.csv'\n\nValidation cohort from South Korea:\n- 4 features for 137 patients\n- file: 's41598-020-73558-3_sepsis_survival_validation_cohort.csv'\n\nThe validation cohort from South Korea was used by Chicco and Jurman (2020) as an external validation cohort to confirm the generalizability of their proposed approach. ", 'purpose': None, 'funded_by': None, 'instances_represent': 'For the primary cohort, they represent records of patients affected by sepsis potential preconditions (ante Sepsis-3 definition); for the study cohort, they represent only the patients’ admissions defined by the novel Sepsis-3 definition.', 'recommended_data_splits': 'No recommendation, standard train-test split could be used. Can use three-way holdout split (i.e., training, validation/development, testing) when doing model selection.', 'sensitive_data': 'Yes. It contains information about the gender and age of the patient.', 'preprocessing_description': 'All the categorical variables have been encoded (so no preprocessing is necessary).', 'variable_info': None, 'citation': 'Davide Chicco, Giuseppe Jurman, Survival prediction of patients with sepsis from age, sex, and septic episode number alone. Scientific Reports 10, 17156 (2020) https://doi.org/10.1038/s41598-020-73558-3\n'}}
                            name     role     type demographic  \
0                      age_years  Feature  Integer         Age
1              sex_0male_1female  Feature   Binary      Gender
2                 episode_number  Feature  Integer        None
3  hospital_outcome_1alive_0dead   Target   Binary        None

                                         description  units missing_values
0                       Age of the patient in years.  years             no
1  Gender of the patient. Values are encoded as f...   None             no
2                    Number of prior Sepsis episodes   None             no
3  Status of the patient after 9,351 days of bein...   None             no

In [5]:
import pandas as pd

feature = pd.DataFrame(X)
feature.head()
target = pd.DataFrame(y)
df = pd.concat([feature, target], axis=1)
df.head()

   age_years  sex_0male_1female  episode_number  hospital_outcome_1alive_0dead
0         21                  1               1                              1
1         20                  1               1                              1
2         21                  1               1                              1
3         77                  0               1                              1
4         72                  0               1                              1

In [6]:

import fairtl_statisticaltest as fl
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [7]:
df.shape

(110341, 4)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110341 entries, 0 to 110340
Data columns (total 4 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   age_years                      110341 non-null  int64
 1   sex_0male_1female              110341 non-null  int64
 2   episode_number                 110341 non-null  int64
 3   hospital_outcome_1alive_0dead  110341 non-null  int64
dtypes: int64(4)
memory usage: 3.4 MB

In [9]:
y = df['hospital_outcome_1alive_0dead'].values
X = df.drop('hospital_outcome_1alive_0dead', axis=1)

In [10]:
print(X.shape)
selector = VarianceThreshold(threshold=0.1)
X = selector.fit_transform(X)
print(X.shape)

(110341, 3)
(110341, 3)

In [11]:
# build mask
gender_0_mask = df['sex_0male_1female'] == 0
gender_1_mask = df['sex_0male_1female'] == 1

count_gender_0 = gender_0_mask.sum()
count_gender_1 = gender_1_mask.sum()

print("Female: ", count_gender_0)
print("Male: ", count_gender_1)

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_scaled_Gender_0 = X_scaled[gender_0_mask]
X_scaled_Gender_1 = X_scaled[gender_1_mask]
y_Gender_0 = y[gender_0_mask]
y_Gender_1 = y[gender_1_mask]

Female:  58063
Male:  52278

In [12]:
seed = 42
models = fl.build_models(seed)

results_list = []

kf = KFold(n_splits=20, shuffle=True, random_state=seed)

In [13]:
print("Starting experiments for Female(0)")
fl.run_experiment(kf, models, X_scaled_Gender_0, y_Gender_0, 'Female', results_list)

print("Starting experiments for Male(1)")
fl.run_experiment(kf, models, X_scaled_Gender_1, y_Gender_1, 'Male', results_list)

final_results_df = pd.concat(results_list, ignore_index=True)
print(final_results_df)

Starting experiments for Female(0)
Processing fold 1 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 2 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 3 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 4 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 5 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 6 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 7 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 8 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 9 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 10 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 11 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 12 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 13 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 14 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 15 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 16 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 17 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 18 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 19 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 20 for group Female
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Starting experiments for Male(1)
Processing fold 1 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 2 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 3 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 4 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 5 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 6 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 7 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 8 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 9 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 10 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 11 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 12 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 13 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 14 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 15 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 16 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 17 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 18 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 19 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
Processing fold 20 for group Male
Training and evaluating model: SVM
Training and evaluating model: LR
Training and evaluating model: KNN
Training and evaluating model: RF
Training and evaluating model: DT
Training and evaluating model: ANN
Training and evaluating model: NB
    Fold   Group  SVM_TPR  SVM_TNR  SVM_FPR  SVM_FNR  SVM_TP  SVM_TN  SVM_FP  \
0      1  Female      1.0      0.0      1.0      0.0    2658       0     246
1      2  Female      1.0      0.0      1.0      0.0    2683       0     221
2      3  Female      1.0      0.0      1.0      0.0    2656       0     248
3      4  Female      1.0      0.0      1.0      0.0    2684       0     219
4      5  Female      1.0      0.0      1.0      0.0    2671       0     232
5      6  Female      1.0      0.0      1.0      0.0    2677       0     226
6      7  Female      1.0      0.0      1.0      0.0    2676       0     227
7      8  Female      1.0      0.0      1.0      0.0    2720       0     183
8      9  Female      1.0      0.0      1.0      0.0    2671       0     232
9     10  Female      1.0      0.0      1.0      0.0    2669       0     234
10    11  Female      1.0      0.0      1.0      0.0    2686       0     217
11    12  Female      1.0      0.0      1.0      0.0    2683       0     220
12    13  Female      1.0      0.0      1.0      0.0    2672       0     231
13    14  Female      1.0      0.0      1.0      0.0    2641       0     262
14    15  Female      1.0      0.0      1.0      0.0    2654       0     249
15    16  Female      1.0      0.0      1.0      0.0    2672       0     231
16    17  Female      1.0      0.0      1.0      0.0    2687       0     216
17    18  Female      1.0      0.0      1.0      0.0    2652       0     251
18    19  Female      1.0      0.0      1.0      0.0    2679       0     224
19    20  Female      1.0      0.0      1.0      0.0    2708       0     195
20     1    Male      1.0      0.0      1.0      0.0    2418       0     196
21     2    Male      1.0      0.0      1.0      0.0    2444       0     170
22     3    Male      1.0      0.0      1.0      0.0    2428       0     186
23     4    Male      1.0      0.0      1.0      0.0    2456       0     158
24     5    Male      1.0      0.0      1.0      0.0    2431       0     183
25     6    Male      1.0      0.0      1.0      0.0    2446       0     168
26     7    Male      1.0      0.0      1.0      0.0    2444       0     170
27     8    Male      1.0      0.0      1.0      0.0    2457       0     157
28     9    Male      1.0      0.0      1.0      0.0    2426       0     188
29    10    Male      1.0      0.0      1.0      0.0    2412       0     202
30    11    Male      1.0      0.0      1.0      0.0    2436       0     178
31    12    Male      1.0      0.0      1.0      0.0    2428       0     186
32    13    Male      1.0      0.0      1.0      0.0    2423       0     191
33    14    Male      1.0      0.0      1.0      0.0    2433       0     181
34    15    Male      1.0      0.0      1.0      0.0    2448       0     166
35    16    Male      1.0      0.0      1.0      0.0    2439       0     175
36    17    Male      1.0      0.0      1.0      0.0    2426       0     188
37    18    Male      1.0      0.0      1.0      0.0    2455       0     159
38    19    Male      1.0      0.0      1.0      0.0    2427       0     186
39    20    Male      1.0      0.0      1.0      0.0    2436       0     177

    SVM_FN  ...  ANN_FP  ANN_FN  NB_TPR  NB_TNR  NB_FPR  NB_FNR  NB_TP  NB_TN  \
0        0  ...     246       0     1.0     0.0     1.0     0.0   2658      0
1        0  ...     221       0     1.0     0.0     1.0     0.0   2683      0
2        0  ...     248       0     1.0     0.0     1.0     0.0   2656      0
3        0  ...     219       0     1.0     0.0     1.0     0.0   2684      0
4        0  ...     232       0     1.0     0.0     1.0     0.0   2671      0
5        0  ...     226       0     1.0     0.0     1.0     0.0   2677      0
6        0  ...     227       0     1.0     0.0     1.0     0.0   2676      0
7        0  ...     183       0     1.0     0.0     1.0     0.0   2720      0
8        0  ...     232       0     1.0     0.0     1.0     0.0   2671      0
9        0  ...     234       0     1.0     0.0     1.0     0.0   2669      0
10       0  ...     217       0     1.0     0.0     1.0     0.0   2686      0
11       0  ...     220       0     1.0     0.0     1.0     0.0   2683      0
12       0  ...     231       0     1.0     0.0     1.0     0.0   2672      0
13       0  ...     262       0     1.0     0.0     1.0     0.0   2641      0
14       0  ...     249       0     1.0     0.0     1.0     0.0   2654      0
15       0  ...     231       0     1.0     0.0     1.0     0.0   2672      0
16       0  ...     216       0     1.0     0.0     1.0     0.0   2687      0
17       0  ...     251       0     1.0     0.0     1.0     0.0   2652      0
18       0  ...     224       0     1.0     0.0     1.0     0.0   2679      0
19       0  ...     195       0     1.0     0.0     1.0     0.0   2708      0
20       0  ...     196       0     1.0     0.0     1.0     0.0   2418      0
21       0  ...     170       0     1.0     0.0     1.0     0.0   2444      0
22       0  ...     186       0     1.0     0.0     1.0     0.0   2428      0
23       0  ...     158       0     1.0     0.0     1.0     0.0   2456      0
24       0  ...     183       0     1.0     0.0     1.0     0.0   2431      0
25       0  ...     168       0     1.0     0.0     1.0     0.0   2446      0
26       0  ...     170       0     1.0     0.0     1.0     0.0   2444      0
27       0  ...     157       0     1.0     0.0     1.0     0.0   2457      0
28       0  ...     188       0     1.0     0.0     1.0     0.0   2426      0
29       0  ...     202       0     1.0     0.0     1.0     0.0   2412      0
30       0  ...     178       0     1.0     0.0     1.0     0.0   2436      0
31       0  ...     186       0     1.0     0.0     1.0     0.0   2428      0
32       0  ...     191       0     1.0     0.0     1.0     0.0   2423      0
33       0  ...     181       0     1.0     0.0     1.0     0.0   2433      0
34       0  ...     166       0     1.0     0.0     1.0     0.0   2448      0
35       0  ...     175       0     1.0     0.0     1.0     0.0   2439      0
36       0  ...     188       0     1.0     0.0     1.0     0.0   2426      0
37       0  ...     159       0     1.0     0.0     1.0     0.0   2455      0
38       0  ...     186       0     1.0     0.0     1.0     0.0   2427      0
39       0  ...     177       0     1.0     0.0     1.0     0.0   2436      0

    NB_FP  NB_FN
0     246      0
1     221      0
2     248      0
3     219      0
4     232      0
5     226      0
6     227      0
7     183      0
8     232      0
9     234      0
10    217      0
11    220      0
12    231      0
13    262      0
14    249      0
15    231      0
16    216      0
17    251      0
18    224      0
19    195      0
20    196      0
21    170      0
22    186      0
23    158      0
24    183      0
25    168      0
26    170      0
27    157      0
28    188      0
29    202      0
30    178      0
31    186      0
32    191      0
33    181      0
34    166      0
35    175      0
36    188      0
37    159      0
38    186      0
39    177      0

[40 rows x 58 columns]

In [14]:
results_df = pd.concat(results_list, ignore_index=True)

In [15]:
result_path = './results/U7_result.xlsx'
results_df.to_excel(result_path, index=False)

In [16]:
df = pd.read_excel(result_path)
df.head()

,Fold,Group,SVM_TPR,SVM_TNR,SVM_FPR,SVM_FNR,SVM_TP,SVM_TN,SVM_FP,SVM_FN,...,ANN_FP,ANN_FN,NB_TPR,NB_TNR,NB_FPR,NB_FNR,NB_TP,NB_TN,NB_FP,NB_FN
0,1,Female,1,0,1,0,2658,0,246,0,...,246,0,1,0,1,0,2658,0,246,0
1,2,Female,1,0,1,0,2683,0,221,0,...,221,0,1,0,1,0,2683,0,221,0
2,3,Female,1,0,1,0,2656,0,248,0,...,248,0,1,0,1,0,2656,0,248,0
3,4,Female,1,0,1,0,2684,0,219,0,...,219,0,1,0,1,0,2684,0,219,0
4,5,Female,1,0,1,0,2671,0,232,0,...,232,0,1,0,1,0,2671,0,232,0

In [17]:
label = 'Female'

fl.perform_t_tests(df, 'SVM', label)
fl.perform_t_tests(df, 'DT', label)
fl.perform_t_tests(df, 'RF', label)
fl.perform_t_tests(df, 'LR', label)
fl.perform_t_tests(df, 'KNN', label)
fl.perform_t_tests(df, 'ANN', label)
fl.perform_t_tests(df, 'NB', label)

SVM -TPR: MannwhitneyuResult(statistic=np.float64(200.0), pvalue=np.float64(1.0))
SVM - FPR: MannwhitneyuResult(statistic=np.float64(200.0), pvalue=np.float64(1.0))
SVM - FN/FP: MannwhitneyuResult(statistic=np.float64(200.0), pvalue=np.float64(1.0))
DT -TPR: MannwhitneyuResult(statistic=np.float64(141.0), pvalue=np.float64(0.09403272165607945))
DT - FPR: MannwhitneyuResult(statistic=np.float64(224.0), pvalue=np.float64(0.30624702497134626))
DT - FN/FP: MannwhitneyuResult(statistic=np.float64(259.5), pvalue=np.float64(0.09123880854715065))
RF -TPR: MannwhitneyuResult(statistic=np.float64(160.0), pvalue=np.float64(0.21915139252036797))
RF - FPR: MannwhitneyuResult(statistic=np.float64(240.0), pvalue=np.float64(0.04016134287788318))
RF - FN/FP: MannwhitneyuResult(statistic=np.float64(241.0), pvalue=np.float64(0.20770677038358942))
LR -TPR: MannwhitneyuResult(statistic=np.float64(200.0), pvalue=np.float64(1.0))
LR - FPR: MannwhitneyuResult(statistic=np.float64(200.0), pvalue=np.float64(1.0))
LR - FN/FP: MannwhitneyuResult(statistic=np.float64(200.0), pvalue=np.float64(1.0))
KNN -TPR: MannwhitneyuResult(statistic=np.float64(167.0), pvalue=np.float64(0.3418792376053732))
KNN - FPR: MannwhitneyuResult(statistic=np.float64(164.0), pvalue=np.float64(0.2694397997543184))
KNN - FN/FP: MannwhitneyuResult(statistic=np.float64(231.0), pvalue=np.float64(0.37240959195360857))
ANN -TPR: MannwhitneyuResult(statistic=np.float64(200.0), pvalue=np.float64(1.0))
ANN - FPR: MannwhitneyuResult(statistic=np.float64(200.0), pvalue=np.float64(1.0))
ANN - FN/FP: MannwhitneyuResult(statistic=np.float64(200.0), pvalue=np.float64(1.0))
NB -TPR: MannwhitneyuResult(statistic=np.float64(200.0), pvalue=np.float64(1.0))
NB - FPR: MannwhitneyuResult(statistic=np.float64(200.0), pvalue=np.float64(1.0))
NB - FN/FP: MannwhitneyuResult(statistic=np.float64(200.0), pvalue=np.float64(1.0))