In [10]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("priyamchoksi/100000-diabetes-clinical-dataset")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.5), please consider upgrading to the latest version (0.3.6).
Path to dataset files: /home/morning/.cache/kagglehub/datasets/priyamchoksi/100000-diabetes-clinical-dataset/versions/1

In [11]:
import os
os.listdir(path)

['diabetes_dataset.csv']

In [12]:
import pandas as pd
import fairtl_emd as fl

In [13]:
df = pd.read_csv(f'{path}/diabetes_dataset.csv')
df.head()

,year,gender,age,location,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,smoking_history,bmi,hbA1c_level,blood_glucose_level,diabetes
0,2020,Female,32.0,Alabama,0,0,0,0,1,0,0,never,27.32,5.0,100,0
1,2015,Female,29.0,Alabama,0,1,0,0,0,0,0,never,19.95,5.0,90,0
2,2015,Male,18.0,Alabama,0,0,0,0,1,0,0,never,23.76,4.8,160,0
3,2015,Male,41.0,Alabama,0,0,1,0,0,0,0,never,27.32,4.0,159,0
4,2016,Female,52.0,Alabama,1,0,0,0,0,0,0,never,23.75,6.5,90,0

In [14]:
df['gender'].unique()

array(['Female', 'Male', 'Other'], dtype=object)

In [15]:
df.shape

(100000, 16)

In [16]:
female = fl.EMD(df, 'gender', 'diabetes', 'Female', 1000)
print(female)

(0.008811313020904432, 0.0, array([[0.915     , 0.00881131],
       [0.        , 0.07618869]]))

In [17]:
male = fl.EMD(df, 'gender', 'diabetes', 'Male', 1000)
print(male)

(0.01248974173304368, 0.0, array([[0.085     , 0.01248974],
       [0.        , 0.90251026]]))