In [23]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("zzettrkalpakbal/full-filled-brain-stroke-dataset")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.5), please consider upgrading to the latest version (0.3.6).
Path to dataset files: /home/morning/.cache/kagglehub/datasets/zzettrkalpakbal/full-filled-brain-stroke-dataset/versions/2

In [24]:
import os 
print(os.listdir(path))

['full_filled_stroke_data (1).csv', 'full_data.csv']

In [25]:
import pandas as pd
df = pd.read_csv(f"{path}/full_filled_stroke_data (1).csv")
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,31.555602,never smoked,1
1,Female,59.0,0,0,Yes,Private,Rural,76.15,30.242937,Unknown,1
2,Male,78.0,0,1,Yes,Private,Urban,219.84,30.698951,Unknown,1
3,Male,57.0,0,1,No,Govt_job,Urban,217.08,33.808410,Unknown,1
4,Male,58.0,0,0,Yes,Private,Rural,189.84,31.378534,Unknown,1

In [26]:
print(df['gender'].unique())

['Female' 'Male']

In [27]:
print(df['stroke'].unique())

[1 0]

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             201 non-null    object
 1   age                201 non-null    float64
 2   hypertension       201 non-null    int64
 3   heart_disease      201 non-null    int64
 4   ever_married       201 non-null    object
 5   work_type          201 non-null    object
 6   Residence_type     201 non-null    object
 7   avg_glucose_level  201 non-null    float64
 8   bmi                201 non-null    float64
 9   smoking_status     201 non-null    object
 10  stroke             201 non-null    int64
dtypes: float64(3), int64(3), object(5)
memory usage: 17.4+ KB

In [29]:
df.shape

(201, 11)

In [30]:
import fairtl_emd as fl

In [31]:
female = fl.EMD(df, 'gender', 'stroke', 'Female', 1000)
print(female)

(0.01748987023644663, 0.774, array([[0.19900498, 0.01748987],
       [0.        , 0.78350515]]))

In [32]:
male = fl.EMD(df, 'gender', 'stroke', 'Male', 1000)
print(male)

(0.016312667432070382, 0.768, array([[0.80099502, 0.01631267],
       [0.        , 0.18269231]]))