In [15]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("winson13/heart-disease-dataset")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.5), please consider upgrading to the latest version (0.3.6).
Path to dataset files: /home/morning/.cache/kagglehub/datasets/winson13/heart-disease-dataset/versions/2

In [16]:
import os
os.listdir(path)

['Dataset Heart Disease.csv', 'cleveland1.csv', 'cleveland2.csv']

In [17]:
import pandas as pd
import fairtl_emd as fl

In [18]:
df = pd.read_csv(f'{path}/cleveland2.csv')
df.head()

,Unnamed: 0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  302 non-null    int64
 1   age         302 non-null    int64
 2   sex         302 non-null    int64
 3   cp          302 non-null    int64
 4   trestbps    302 non-null    int64
 5   chol        302 non-null    int64
 6   fbs         302 non-null    int64
 7   restecg     302 non-null    int64
 8   thalach     302 non-null    int64
 9   exang       302 non-null    int64
 10  oldpeak     302 non-null    float64
 11  slope       302 non-null    int64
 12  ca          302 non-null    int64
 13  thal        302 non-null    int64
 14  target      302 non-null    int64
dtypes: float64(1), int64(14)
memory usage: 35.5 KB

In [20]:
df.shape

(302, 15)

In [21]:
female = fl.EMD(df, 'sex', 'target', 0, 1000)
print(female)

(0.20695364238410596, 0.0, array([[0.25      , 0.        ],
       [0.20695364, 0.54304636]]))

In [22]:
male = fl.EMD(df, 'sex', 'target', 1, 1000)
print(male)

(0.0964444158683212, 0.036, array([[0.45695364, 0.09644442],
       [0.        , 0.44660194]]))