In [15]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("suleymansulak/obesity-dataset")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.5), please consider upgrading to the latest version (0.3.6).
Path to dataset files: /home/morning/.cache/kagglehub/datasets/suleymansulak/obesity-dataset/versions/1

In [16]:
import os
os.listdir(path)

['Obesity_Dataset.xlsx',
 'Obesity_Dataset',
 'Obesity_Dataset.arff',
 '10.33484-sinopfbd.1445215-3764172.pdf']

In [17]:
import pandas as pd
import fairtl_emd as fl

In [18]:
df = pd.read_excel(f'{path}/Obesity_Dataset.xlsx')
df.head()

,Sex,Age,Height,Overweight_Obese_Family,Consumption_of_Fast_Food,Frequency_of_Consuming_Vegetables,Number_of_Main_Meals_Daily,Food_Intake_Between_Meals,Smoking,Liquid_Intake_Daily,Calculation_of_Calorie_Intake,Physical_Excercise,Schedule_Dedicated_to_Technology,Type_of_Transportation_Used,Class
0,2,18,155,2,2,3,1,3,2,1,2,3,3,4,2
1,2,18,158,2,2,3,1,1,2,1,2,1,3,3,2
2,2,18,159,2,2,2,1,3,2,3,2,2,3,4,2
3,2,18,162,2,2,2,2,2,2,2,2,1,3,4,2
4,2,18,165,2,1,2,1,3,2,1,2,3,3,2,2

In [19]:
print(df['Class'].unique())

[2 3 4 1]

In [20]:
print(df['Sex'].unique())

[2 1]

In [21]:
df.shape

(1610, 15)

In [22]:
female = fl.EMD(df, 'Sex', 'Class', 2, 1000)
print(female)

(0.1350495926074506, 0.0, array([[0.04534161, 0.02035994, 0.        , 0.        ],
       [0.        , 0.15033408, 0.        , 0.        ],
       [0.        , 0.00756685, 0.40869565, 0.1071228 ],
       [0.        , 0.        , 0.        , 0.26057906]]))

In [23]:
male = fl.EMD(df, 'Sex', 'Class', 1, 1000)
print(male)

(0.17032940191220597, 0.0, array([[0.36770186, 0.13510713, 0.        , 0.        ],
       [0.        , 0.26404494, 0.        , 0.        ],
       [0.        , 0.00954358, 0.17826087, 0.02567869],
       [0.        , 0.        , 0.        , 0.01966292]]))