In [31]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("homelysmile/datacad")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.5), please consider upgrading to the latest version (0.3.6).
Path to dataset files: /home/morning/.cache/kagglehub/datasets/homelysmile/datacad/versions/2

In [32]:
import os
os.listdir(path)

['DataClean-fullage.csv']

In [33]:
import pandas as pd
import fairtl_emd as fl

In [34]:
df = pd.read_csv(f'{path}/DataClean-fullage.csv')

In [35]:
df.head()

,sno,age,gender,type,day_icu,outcome,smoking,alcohol,diabetes,hypertension,...,chest_infection,count,haemoglobin,anaemia,severe_anaemia,glucose,group_age,group_plate,group_leuk,group_ejectf
0,1,81,M,E,2,DISCHARGE,0,0,1,0,...,0,1,9.5,1,0,80.0,76-150,normal,high,d_normal
1,3,53,M,E,3,DISCHARGE,0,0,1,0,...,0,1,10.6,0,0,187.0,46-60,normal,high,d_normal
2,5,60,F,E,9,DISCHARGE,0,0,0,1,...,0,1,13.6,0,0,144.0,46-60,low,normal,d_normal
3,6,44,M,E,8,DISCHARGE,0,0,1,1,...,0,1,13.5,0,0,217.0,31-45,normal,high,d_normal
4,7,56,F,E,2,DISCHARGE,0,0,1,1,...,0,1,13.3,0,0,277.0,46-60,normal,high,d_normal

In [36]:
df.columns

Index(['sno', 'age', 'gender', 'type', 'day_icu', 'outcome', 'smoking',
       'alcohol', 'diabetes', 'hypertension', 'cad', 'cardiomyopathy', 'ckd',
       'leuk_count', 'platelets', 'urea', 'creatinine', 'bnp',
       'raised_cardiac', 'eject_fraction', 'stable_angina', 'acs', 'stemi',
       'atypical_chest_pain', 'heart_failure', 'hfref', 'hfnef', 'valvular',
       'chb', 'sick_sinus', 'acute_kidney', 'cva_infract', 'cva_bleed',
       'atrial_fibril', 'ventricular', 'psvt', 'congenital', 'urinary_tract',
       'neuro_cardiogenic_syncope', 'orthostatic', 'infective_endocarditis',
       'deep_venous', 'pulmonary_embolism', 'chest_infection', 'count',
       'haemoglobin', 'anaemia', 'severe_anaemia', 'glucose', 'group_age',
       'group_plate', 'group_leuk', 'group_ejectf'],
      dtype='object')

In [37]:
df['gender'].unique()

array(['M', 'F'], dtype=object)

In [38]:
df['cad'].unique()

array([0, 1])

In [39]:
df.shape

(6611, 53)

In [40]:
female = fl.EMD(df, 'gender', 'cad', 'F', 1000)
print(female)

(0.02636874435072989, 0.019, array([[0.30282862, 0.02636874],
       [0.        , 0.67080264]]))

In [41]:
male = fl.EMD(df, 'gender', 'cad', 'M', 1000)
print(male)

(0.01686631738108435, 0.06, array([[0.69717138, 0.01686632],
       [0.        , 0.2859623 ]]))