In [22]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("imtkaggleteam/diabetes")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.5), please consider upgrading to the latest version (0.3.6).
Path to dataset files: /home/morning/.cache/kagglehub/datasets/imtkaggleteam/diabetes/versions/1

In [23]:
import os
os.listdir(path)

['diabetes.csv']

In [24]:
import pandas as pd
import fairtl_emd as fl

In [25]:
df = pd.read_csv(f'{path}/diabetes.csv')
df.head()

,id,chol,stab.glu,hdl,ratio,glyhb,location,age,gender,height,weight,frame,bp.1s,bp.1d,bp.2s,bp.2d,waist,hip,time.ppn
0,1000,203.0,82,56.0,3.6,4.31,Buckingham,46,female,62.0,121.0,medium,118.0,59.0,NaN,NaN,29.0,38.0,720.0
1,1001,165.0,97,24.0,6.9,4.44,Buckingham,29,female,64.0,218.0,large,112.0,68.0,NaN,NaN,46.0,48.0,360.0
2,1002,228.0,92,37.0,6.2,4.64,Buckingham,58,female,61.0,256.0,large,190.0,92.0,185.0,92.0,49.0,57.0,180.0
3,1003,78.0,93,12.0,6.5,4.63,Buckingham,67,male,67.0,119.0,large,110.0,50.0,NaN,NaN,33.0,38.0,480.0
4,1005,249.0,90,28.0,8.9,7.72,Buckingham,64,male,68.0,183.0,medium,138.0,80.0,NaN,NaN,44.0,41.0,300.0

In [26]:
df.dropna(inplace=True)

In [27]:
print(df['gender'].unique())

['female' 'male']

In [28]:
print(df['frame'].unique())

['large' 'medium' 'small']

In [29]:
female = fl.EMD(df, 'gender', 'frame', 'female', 1000)
print(female)

(0.08514225500526873, 0.57, array([[0.55384615, 0.0625922 , 0.        ],
       [0.        , 0.19178082, 0.        ],
       [0.        , 0.02255005, 0.16923077]]))

In [30]:
male = fl.EMD(df, 'gender', 'frame', 'male', 1000)
print(male)

(0.1090418353576248, 0.418, array([[0.47368421, 0.        , 0.        ],
       [0.08016194, 0.27692308, 0.02887989],
       [0.        , 0.        , 0.14035088]]))

In [31]:
df.shape

(130, 19)