In [27]:
import pandas as pd
import fairtl as fl

In [28]:
df = pd.read_csv('/mnt/c/Users/Morning/Desktop/tmp_dataset/parkinson+dataset+with+replicated+acoustic+features/ReplicatedAcousticFeatures-ParkinsonDatabase.csv')

In [29]:
df.head()

,ID,Recording,Status,Gender,Jitter_rel,Jitter_abs,Jitter_RAP,Jitter_PPQ,Shim_loc,Shim_dB,...,Delta3,Delta4,Delta5,Delta6,Delta7,Delta8,Delta9,Delta10,Delta11,Delta12
0,CONT-01,1,0,1,0.25546,0.000015,0.001467,0.001673,0.030256,0.26313,...,1.407701,1.417218,1.380352,1.420670,1.451240,1.440295,1.403678,1.405495,1.416705,1.354610
1,CONT-01,2,0,1,0.36964,0.000022,0.001932,0.002245,0.023146,0.20217,...,1.331232,1.227338,1.213377,1.352739,1.354242,1.365692,1.322870,1.314549,1.318999,1.323508
2,CONT-01,3,0,1,0.23514,0.000013,0.001353,0.001546,0.019338,0.16710,...,1.412304,1.324674,1.276088,1.429634,1.455996,1.368882,1.438053,1.388910,1.305469,1.305402
3,CONT-02,1,0,0,0.29320,0.000017,0.001105,0.001444,0.024716,0.20892,...,1.501200,1.534170,1.323993,1.496442,1.472926,1.643177,1.551286,1.638346,1.604008,1.621456
4,CONT-02,2,0,0,0.23075,0.000015,0.001073,0.001404,0.013119,0.11607,...,1.508468,1.334511,1.610694,1.685021,1.417614,1.574895,1.640088,1.533666,1.297536,1.382023

In [30]:
df['Gender'].unique()

array([1, 0])

In [31]:
df['Status'].unique()

array([0, 1])

In [32]:
df.shape

(240, 48)

In [33]:
female = fl.EMD(df, 'Gender', 'Status', 0, 1000)
print(female)

(0.04166666666666663, 0.464, array([[0.5       , 0.04166667],
       [0.        , 0.45833333]]))

In [34]:
male = fl.EMD(df, 'Gender', 'Status', 1, 1000)
print(male)

(0.0625, 0.342, array([[0.5   , 0.0625],
       [0.    , 0.4375]]))